@import 'src/css/mixins';

.c-product-frames {
  &__product-image-slide {
    padding-bottom: 50%;

    @include mqAbove($min-width-tablet) {
      padding-bottom: 35%;
    }
  }

  &__collection-callout {
    padding: 12px 0;

    @include mqAbove($min-width-tablet) {
      margin: 0 30px;
    }

    @include mqAbove($min-width-desktop-large) {
      margin-right: 0;
      float: left;
      width: 40%;
    }
  }

  &__literary-callout-replacement {
    margin: 72px -18px;
  }

  &__divider {
    border: 0;
    height: 1px;

    &::after {
      content: 'or';
      width: 48px;
      position: absolute;
      top: -11px;
      margin-left: -24px;
      background-color: color('white');
      text-transform: uppercase;
      letter-spacing: 3px;
      text-indent: 3px;
    }
  }
}
