@import 'src/css/mixins';

.c-cta {

  &--primary, &--secondary, &--default, &--simple {
    @include uButton;
    @include uButtonOptions('cta');
  }

  &--primary {
    @include familySerif;
    @include typeSectionHeadline;
    @include buttonBlue;
    @include buttonLarge;

    font-weight: $font-weight-semibold;
  }

  &--secondary {
    @include familySans;
    @include typeBody;
    @include buttonWhite;
    @include buttonMedium;

    font-weight: $font-weight-semibold;
  }

  &--default {
    @include familySans;
    @include typeBody;
    @include buttonGray;
    @include buttonMedium;

    font-weight: $font-weight-semibold;
  }

  &--simple {
    @include familySans;
    @include typeBody;
    @include buttonClear;
    @include buttonMedium;
  }

  // TODO: Fix this up
  // Unfortunate specificity problem with overwriting CTA settings,
  // instead of building a new CTA from u-button classes.

  &.u-f {

    // Font Families
    &fs {
      @include familySerif;
    }

    &fss {
      @include familySans;
    }

    // Font Weight and Style
    &wn {
      font-weight: $font-weight-normal;
    }

    &ws {
      font-weight: $font-weight-semibold;
    }

    // Font Styles
    &si {
      font-style: $font-style-em;
    }

    // Font Sizes
    &s16 {
      font-size: 16px;
    }

  }

}
