@import "src/css/mixins";

.c-amanda-de-cadenet {
  $color-amanda-background: #f7e4de;

  // Hero Styles

  &__hero {
    background-color: $color-amanda-background;
    padding-bottom: 140%;

    @include mqAbove($grid-breakpoint-tablet) {
      padding-bottom: 66.6%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      padding-bottom: 50%;
    }
  }

  &__arrow {
    width: 15px;
    bottom: 5%;
    visibility: hidden;

    @include mqAbove($grid-breakpoint-desktop) {
      bottom: 10%;
      width: 25px;
    }
  }

  .react-mounted &__arrow {
    visibility: visible;
  }

  // Mosaic styles

  &__mosaic-header {
    letter-spacing: 5px;
    @include mqAbove($grid-breakpoint-tablet) {
      width: 90%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      letter-spacing: 6px;
    }
  }

  &__mosaic-body {
    @include mqAbove($grid-breakpoint-desktop-large) {
      line-height: 38px;
    }
  }

  &__final-mosaic-column-right {
    @include mqAbove($grid-breakpoint-tablet) {
      transform: translateY(15%);
    }
  }

  &__lifestyle-image {
    // Skewed positioning to make lifestyle imagery off-center
    width: 74%;
    transition: {
      property: opacity;
      duration: 2.5s;
      timing-function: $transition-timing-function-default;
    }
    opacity: 0;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 76%;
    }

    &.-faded {
      opacity: 1;
    }

    &.-small {
      transform: translate(-50%, -49%);
      @include mqAbove($grid-breakpoint-tablet) {
        width: 80%;
        transform: translate(-50%, -48%);
      }
    }

    &.-large {
      @include mqAbove($grid-breakpoint-tablet) {
        transform: translate(-50%, -49%);
        width: 80%;
      }
    }

    &.-xl {
      transform: translate(-50%, -48%);
      @include mqAbove($grid-breakpoint-tablet) {
        width: 80%;
      }
    }

    &.-final {
      width: 73%;
      @include mqAbove($grid-breakpoint-tablet) {
        width: 81%;
      }
    }
  }

  &__image-wrapper {
    &.-xl {
      @include mqAbove($grid-breakpoint-tablet) {
        width: 95%;
      }
    }

    &.-small {
      @include mqAbove($grid-breakpoint-tablet) {
        width: 80%;
      }
    }

    &.-final {
      @include mqAbove($grid-breakpoint-tablet) {
        width: 100%;
      }
    }
  }

  // GirlGaze callout styles

  &__girl-gaze-callout {
    background-color: $color-amanda-background;
    padding-bottom: 225%;

    // Odd breakpoint to avoid container overflow on iPhone 6
    @include mqAbove(375px) {
      padding-bottom: 163%;
    }

    // Odd breakpoint to avoid container overflow on iPhone 6+
    @include mqAbove(413px) {
      padding-bottom: 145%;
    }

    @include mqAbove($grid-breakpoint-tablet) {
      padding-bottom: 55%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      padding-bottom: 46%;
    }

    @include mqAbove(1400px) {
      padding-bottom: 37%;
    }

    &__star {
      bottom: -4%;
      @include mqAbove($grid-breakpoint-tablet) {
        width: 6%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        width: 4%;
      }

      @include mqAbove($grid-breakpoint-desktop-large) {
        bottom: -3%;
      }
    }

    &__lead-text {
      letter-spacing: 5px;

      @include mqAbove($grid-breakpoint-desktop) {
        letter-spacing: 6px;
      }
    }

    &__body-copy {
      @include mqAbove($grid-breakpoint-desktop) {
        line-height: 36px;
      }
    }
  }
}
.u-type-amanda-de-cadenet {
  font-family: "futura-pt";
  visibility: hidden;
}

html[class*="wf-futura"] .u-type-amanda-de-cadenet {
  visibility: visible;
}
