@import 'src/css/mixins';

.c-haskell-flash {

  &__hero-header {
    @include mqAbove($grid-breakpoint-desktop) {
      max-width: 340px;
    }
  }

  &__cta {
    background-color: color('white');
  }

  &__divider {
    height: 3px;
    width: 20%;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 7%;
    }
  }

}
