@import 'src/css/mixins';

.c-remove-button {
  padding: 0;
  border: 0;
  min-width: 0;
  min-height: 0;
  line-height: normal;
  color: $color-text;

  &:focus {
    box-shadow: none;
  }

  &.-cart-item {
    margin-top: 24px;
    text-align: left;

    &:not(.-hto) {
      float: left;
    }

    &.-hto {
      margin-top: 12px
    }

    @include mqAbove($min-width-tablet-small) {
      margin-top: 0;
    }

    @include mqAbove($grid-breakpoint-tablet) {
      &.-hto {
        float: left;
        margin-top: 0;
      }
    }
  }
}

.c-remove-button .c-icon--x {
  position: relative;
  top: 4px;

  width: 16px;
  padding: 3px;

  border: 1px solid;
  border-radius: 50%;
}

.c-remove-button__title {
  margin-left: 8px;

  font-size: 14px;
}
