@import 'src/css/mixins';

.c-off-white-hero {
  &__picture-wrapper {
    height: 0;
    padding-bottom: 85%;

    @include mqAbove($grid-breakpoint-tablet) {
      padding-bottom: 60%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      padding-bottom: 50%;
    }
  }

  &__copy-wrapper {
    font-family: Helvetica Neue;
    @include mqAbove($grid-breakpoint-desktop) {
      line-height: 30px;
      font-size: 22px;
    }
  }
  &__logo {
    bottom: 9%;

    @include mqAbove($grid-breakpoint-desktop) {
      bottom: 15%;
    }
  }
}
