@import 'src/css/mixins';

@include mqAbove($min-width-tablet-small) {
  .c-customer-center-address-index__list,
  .c-customer-center-address-index__item {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
  }

  .c-customer-center-address-index__item {
    width: calc(50% - 12px);
  }
}

.c-customer-center-address-index__hr {
  margin-top: 48px;
  margin-bottom: 48px;
}
