@import 'src/css/mixins';

.c-product-popover-purchase {
  width: 240px;

  &.-wide {
    width: 296px;
  }

  &__purchase-button {
    border: 1px solid color('blue-shadow');

    &.-button-medium,
    &.-button-large {
      width: calc(100% - 36px);
      min-width: 0;
    }
  }

  input:disabled ~ &__variant-title,
  input:disabled ~ &__variant-price,
  input:disabled ~ &__variant-description {
    color: color('light-gray');
  }
}
