@import 'src/css/mixins';

.c-modal-wrapper {
  background: color('white-90p');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal-confirm__wrapper;

  &.-loader {
    z-index: $z-index-modal-loader__wrapper;
  }

}

.c-modal-wrapper__content {
  position: relative;
  max-width: 500px;
  width: calc(100% - 18px);
  margin: 144px auto 0;
  padding: 48px;

  &:not(.-loader) {
    border: 1px color('light-gray-alt-1') solid;
    box-shadow: 0 0 10px 0 color('black-5p');
    background: color('white');
  }
}

.c-modal-wrapper__close {
  position: absolute;
  top: 12px;
  right: 12px;
}
