@import 'src/css/mixins';

.c-summer-2017 {

  &__hero-text-header {
    color: #F6887D;
    text-shadow: 4px 1px #f9c1a1;
    letter-spacing: 10px;

    @include mqAbove($grid-breakpoint-desktop) {
      letter-spacing: 8px;
    }

    &.-blue {
      color: #7EB4D3;
      text-shadow: 3px 1px #A7E5FE;
      font-size: 24px;
      margin-bottom: 6px;

      @include mqAbove($grid-breakpoint-desktop-large) {
        font-size: 30px;
        text-shadow: 4px 1px #A7E5FE;

      }
    }
  }

  &__hero-text-subheader {
    color: #F6887D;
    text-shadow: 2px 1px #f9c1a1;
    letter-spacing: 10px;

    @include mqAbove($grid-breakpoint-desktop) {
      letter-spacing: 8px;
      text-shadow: 4px 1px #f9c1a1;
    }

    &.-blue {
      color: #7EB4D3;
      text-shadow: 4px 1px #A7E5FE;
      font-size: 42px;
      @include mqAbove($grid-breakpoint-desktop) {
        font-size: 36px;
      }
      @include mqAbove($grid-breakpoint-desktop-large) {
        font-size: 50px;
      }
    }
  }

  &__hero-divider {
    background-color: #F6887D;
    width: 40px;
    height: 5px;

    &.-blue {
      background-color: #7EB4D3;
    }
  }

  &__hero-copy-wrapper {
    @include mqAbove($grid-breakpoint-desktop) {
      width: 30%;
      left: 5%;
      padding-top: 72px;
      padding-bottom: 72px;

      &.-blue {
        width: 34%;
      }
    }
  }

}
