.c-sunscapades-video {

  &__video {

    &.-first {
      width: 15%;
      left: 16%;
      top: 61%;
      z-index: 3;
    }

    &.-third {
      width: 23%;
      top: 70%;
      right: 14%;
      z-index: 3;
    }

  }

}
