@import 'src/css/mixins';

.c-off-white-shoppable-frame {
  &__svg-wrapper {
    padding-left: 8px;

    @include mqAbove($grid-breakpoint-desktop) {
      animation: blinking 1s linear infinite;
    }
  }

  &__shop-links-wrapper {
    padding-left: 7px;

    @include mqAbove($grid-breakpoint-desktop) {
      padding-left: 24px;
    }
  }
  &__sold-out {
    font-family: Helvetica Neue;
  }
  &__frame-name {
    font-family: Helvetica Neue;
  }

  &__link {
    font-family: Helvetica Neue;
    &:hover {
      color: #a0a0a0;
    }
  }

  &__link:hover &__svg {
    fill: #a0a0a0;
  }
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
