@import 'src/css/mixins';

.c-gift-card-radio-group__input {

  &:checked + label {
    border: 1px solid color('blue');
    color: color('dark-gray');

    &:hover {
      border-color: color('blue');
    }
  }
}

.c-gift-card-radio-group__label {
  border-radius: 1px;
  user-select: none;
  transition: {
    property: border, color;
    duration: $transition-duration-fast;
    timing-function: $transition-timing-function-default;
  }

  &:hover {
    border-color: color('dark-gray');
    color: color('dark-gray');
  }
}

.c-gift-card-radio-group__subhead {

  @include mqAbove($grid-breakpoint-desktop) {
    // Ensure similar height across buttons.
    min-height: 78px; // 3 lines @ 26px line-height
  }
}
