@import 'src/css/mixins';
.c-birthday-header__badge {
  transform: translate(50%, 50%);
  width: 120px;
  right: 20px;

  @include mqAbove($grid-breakpoint-desktop) {
    width: 141px;
    right: 36px;
    bottom: 20px;
  }
}

.c-birthday-header__hero {
  background-size: 471px;

  @include mqAbove($grid-breakpoint-tablet) {
    margin-bottom: 300px;
  }

  @include mqAbove($grid-breakpoint-desktop) {
    margin-bottom: 220px;
  }
}

.c-birthday-header__hero-col {
  @include mqAbove($grid-breakpoint-tablet) {
    margin-bottom: -220px;
  }

  @include mqAbove($grid-breakpoint-desktop) {
    margin-bottom: -141px;
  }
}
