@import 'src/css/mixins';

.c-navigation-utility {
  &__link {
    color: color('dark-gray');
    padding: 13px 6px;
    display: block;

    @include mqAbove($grid-breakpoint-desktop) {
      padding: 18px 8px;
    }
  }

  &__item {
    &.-cart {
      display: block;

      @include mqAbove($grid-breakpoint-desktop) {
        display: inline-block;
      }
    }
  }

  &__count::before { content: "("; }
  &__count::after { content: ")"; }
}
