@import 'src/css/mixins';

.c-product-popover-purchase-apple-pay {

  &__fieldset {

    &.-rounded {
      border-radius: 5px;
    }
  }

  &-variant__dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    z-index: 1;
  }

  &__btn {
    @include uVerticallyCenter;
    width: calc(50% - 6px);
    height: 60px;

    &.-rounded {
      border-radius: 5px;
    }

    &.-apple-pay {

      &:focus {
        outline: 0;
        box-shadow: 0 0 0 1px color('dark-gray'),
          0 0 0 2px color('blue');
      }
    }

    &.-full-width {
      width: 100%;
    }
  }

  &__picture {
    width: 140px;
    margin-top: -2px;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 180px;
      margin-top: -1px;
    }
  }

  &-variant__dot {
    transition: 0.4s background-color ease-in-out;
  }

  &-variant__radio:checked + &-variant__dot {
    background-color: color('blue')
  }

  &-variant__radio:checked ~ &-variant__select {
    background-color: color('light-gray-alt-2')
  }

  &-variant__radio:not(:disabled):not(:checked) ~ &-variant__select:hover  {
    background-color: mix(color('light-gray-alt-2'), color('white'), 70%)
  }

  &-variant__radio:disabled ~ &-variant__select {
    background-color: darken(color('light-gray-alt-2'), 5%);
    color: color('dark-gray-alt-2');
    border: 0;
  }

  &-variant__radio:disabled + &-variant__dot {
    background-color: color('dark-gray-alt-2')
  }

  &__atc-price {
    left: 5px;
    top: -15px;

    @include mqAbove($grid-breakpoint-tablet) {
      top: -17px;
    }
  }

  &__cta-text--upsell {
    &.-show-price {
      right: 4%;

      @include mqAbove($grid-breakpoint-desktop) {
        right: 5%;
      }
    }
  }

  &__upsell-container {

    &.-rounded {
      border-radius: 5px;
    }
  }

}
