@import 'src/css/mixins';

.c-gallery-frame-radio {
  $gallery-frame-transition: 0.2s;

  vertical-align: baseline;

  &.-hidden {
    display: none;
  }

  &__image-link {
    min-height: 90px;
    opacity: 0;
    transition:
      visibility 0s $transition-duration-fast,
      opacity $transition-duration-fast,
      transform $transition-duration-fast;

    &.-active {
      visibility: visible;
      opacity: 1;
      transition: opacity $transition-duration-fast $transition-duration-fast, transform $transition-duration-fast;
    }
  }
}
