@import 'src/css/mixins';

.c-prescription-check-quiz {

  &__button {
    border-radius: 2em;
    outline: none;

    &.-answer {
      &:hover,
      &:active {
        background-color: color('blue');
        border-color: color('blue');
        color: color('white');
      }
    }
  }

  &__download-icon {
    width: 160px;
  }

  &__arrow {
    width: 20px;
    height: 16px;
  }

  &__arrow-group {
    stroke: color('white');
    stroke-width: 1.5;
    fill: none;
    fill-rule: evenodd;
  }
}
