// Based on http://meyerweb.com/eric/tools/css/reset/g

.u-reset {

  &,
  &--list,
  &--quote,
  &--table,
  &--button,
  &__p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  // blockquote and q
  &--quote {
    quotes: none;

    &::before,
    &::after {
      content: '';
      content: none;
    }
  }

  // ul and li
  &--list {
    list-style: none;
  }

  // table
  &--table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  // button
  &--button {
    background: none;
  }

  &--button:focus {
    outline: 0;
  }
}
