 .u-button {
  @include uButton;

  @include uButtonOptions;

  // Create breakpoint variations.
  @each $breakpoint in $grid-breakpoint-list {
    $variation: property-breakpoint-variation($breakpoint);
    @include mqAbove($breakpoint) {
      @include buttonBlue('.-button-blue#{$variation}');
      @include buttonWhite('.-button-white#{$variation}');
      @include buttonGray('.-button-gray#{$variation}');
      @include buttonClear('.-button-clear#{$variation}');
    }
  }
}

.u-button-reset {
  background: none;
  border: 0;
  padding: 0;
}
