.u-grid {
  @each $name, $data in $grid-breakpoints {
    @include mqAbove(map-get($data, breakpoint)) {
      padding-left: map-get($data, gutter-row);
      padding-right: map-get($data, gutter-row);

      &.-maxed {
        max-width: map-get($data, max-width);
      }
    }
  }
}

.u-grid__row {
  font-size: 0;
  display: block;

  @each $name, $data in $grid-breakpoints {
    $margin: -1 * map-get($data, gutter-col);

    @include mqAbove(map-get($data, breakpoint)) {
      margin-left: $margin;
      margin-right: $margin;
    }
  }

  &.-center {
    text-align: center;
  }
}

.u-grid__col {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  @each $name, $data in $grid-breakpoints {
    $breakpoint: map-get($data, breakpoint);

    @include mqAbove($breakpoint) {
      padding-left: map-get($data, gutter-col);
      padding-right: map-get($data, gutter-col);

      @for $i from 1 through $grid-columns {
        &.-c-#{$i}#{property-breakpoint-variation($breakpoint)} {
          width: percentage($i/$grid-columns);
        }
      }
    }
  }

  &.-col-middle {
    vertical-align: middle;
  }

  &.-col-bottom {
    vertical-align: bottom;
  }
}

/**
 * Gutters (deprecated)
 */
$gutter-page: 12px;
$gutter-grid: 0;

/**
 * (Deprecated) Set our gutter var to one that Griddle expects
 */
$grid-gutter: $gutter-grid;

@import '../vendor/griddle/griddle';

@include griddle-build(2 3 4 5 6 12);

@include mqAbove($min-width-tablet-small) {
  @include griddle-build(2 3 4 5 6 12, '--tablet-small');
}

@include mqAbove($min-width-tablet) {
  @include griddle-build(2 3 4 5 6 12, '--tablet');
}

@include mqAbove($min-width-desktop) {
  @include griddle-build(2 3 4 5 6 12, '--desktop');
}
