.u-icon {
  vertical-align: text-top;
  display: inline-block;

  &.-icon-margin {
    margin: 10px;
  }

  &.-icon-margin-right {
    margin-right: 10px;
  }

  &.-icon-margin-2x {
    margin: 20px;
  }

  &.-icon-margin-right-2x {
    margin-right: 20px;
  }

  &.-icon-inline {
    margin: 0 8px;
    vertical-align: middle;
  }

  &.-icon-mirror {
    transform: rotate(180deg);
  }

  //Specificity hack until we can remove the display attribute from .u-icon
  //TODO `grep` or search-and-replace non-block icons
  &.u-db {
    display: block;
  }
}
