.u-link {
  &--unstyled {
    &,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &--nav {
    @include uLinkNav;

    &:hover {
      @include uLinkNavHover;
    }

    &:focus {
      @include uLinkNavFocus;
    }
  }

  &--underline {
    @include uLinkUnderline;

    &:hover {
      @include uLinkUnderlineHover;
    }
  }

  &--hover {
    // Adds underline on mobile and all hover.
    // Inherits color for border color.
    &,
    &:hover {
      border-bottom: {
        width: 1px;
        color: initial;
        style: solid;
      }
    }

    @include mqAbove($grid-breakpoint-tablet) {
      & {
        border-bottom-color: transparent;
      }
    }
  }
}
