/**
 * Render + or - signs via pseudo elements.
 * Set a sign's color by setting `color` on the span that uses u-sign, usually
 * easiest via `u-color--*`.
 */

.u-sign {
  display: inline-block;

  &.-plus,
  &.-minus {
    &::before,
    &::after {
      content: '';
      background-color: currentColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      transition: transform $transition-duration-default $transition-timing-function-default;
      border-radius: 2px;
      height: 2px;
      width: 100%;
    }
  }

  &.-plus {
    &::after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  &.-w10 {
    height: 10px;
    width: 10px;
  }

  &.-w16 {
    height: 16px;
    width: 16px;
  }
}
