/**
 * Sticky footer.
 * (See http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/)
 */

.u-template {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;

  &--legacy {
    display: block;
  }
}

.u-template__main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px 48px;
  flex: 1 0 auto;
  min-height: 240px;

  &.-full-width {
    padding: 0 0 48px;
  }

  &.-full-page {
    padding: 0;
  }

  &.-takeover {
    min-height: 100vh;
    padding: 0;
  }

  &.-push-footer {
    min-height: 100vh;
  }

  &.-responsive-margin {
    margin-bottom: 0px;

    @include mqAbove($grid-breakpoint-desktop){
      margin-bottom: 12px;
    }

    @include mqAbove($grid-breakpoint-desktop-large){
      margin-bottom: 24px;
    }
  }
}

// Semi-transparent overlay for navigation
.u-template__main {
  @include mqNav('tablet') {
    &::after {
      display: block;
      opacity: 0;
      visibility: hidden;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $z-index-overlay;
      background-color: color('black-10p');
      transition: {
        property: opacity, visibility;
        duration: $transition-duration-default;
        timing-function: $transition-timing-function-default;
        delay: 0s, $transition-duration-default;
      }
    }

    &.-overlay::after {
      transition-delay: 0s;
      opacity: 1;
      visibility: visible;
    }
  }
}

// Alternate overlay color with drawer experiment
.u-template__main.-overlay-dark {
  @include mqNav('tablet') {
    &::after {
      background-color: rgba(43, 52, 62, .75)
    }
  }
}
