@import 'src/css/mixins';

.c-do-good-nav {

  &__wrapper {
    width: 290px;
  }

  &__img {
    width: 40px;
  }

  @include mqAbove($grid-breakpoint-desktop) {
    &__wrapper {
      width: auto;
    }

    &__copy {
      width: 130px;
    }

    &__img {
      width: 69px;
    }

  }
}
