@import 'src/css/mixins';

.c-card-contents--order {
  position: relative;
  width: 100%;
}

.c-card-contents--order__wrapper {
  padding: 24px 24px 84px;
}

.c-card-contents--order__thumbnail-wrap,
.c-card-contents--order__body {
  text-align: center;

  @include mqAbove($min-width-tablet) {
    vertical-align: top;
    display: inline-block;
    margin-top: 4px;
    text-align: left;
  }
}

.c-card-contents--order__body:not(.-full) {
  @include mqAbove($min-width-tablet) {
    width: calc(100% - 150px);
  }
}

.c-card-contents--order__thumbnail {
  margin: 3px auto 0;
  width: 125px;
  height: 65px;
  background: {
    size: contain;
    repeat: no-repeat;
  }

  @include mqAbove($min-width-tablet) {
    vertical-align: top;
    display: inline-block;
    margin-right: 24px;
    text-align: left;
  }
}

.c-card-contents--order__hto {
  display: inline-block;

  &:not(:last-child):after {
    content: ', ';
    display: inline-block;
    margin-right: 4px;
  }
}

.c-card-contents--order__other {
  margin-top: 3px;
}

.c-card-contents--order__item {
  margin-top: 20px;
}


.c-card-contents--order__status {
  display: flex;
  align-items: center;
}

.c-card-contents--order__trigger {
  @include typeBody;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 20px;
  height: 60px;
  margin-bottom: 0;
  background-color: color('white');
  display: block;
  border: {
    width: 1px 0 0;
    color: color('light-gray-alt-1');
    style: solid;
  }
  transition: $transition-duration-default all;

  .c-card:hover & {
    border-color: color('light-gray');
    color: color('dark-gray');
  }
}

.c-card-contents--order__arrow {
  fill: color('dark-gray');
  position: absolute;
  top: 50%;
  right: 12px;

  transform: translateY(-50%);
}

.c-card-contents--order__alert {
  margin-right: 5px;
}

.c-card-contents--order__image {
  max-height: 100%;
}
