@import 'src/css/mixins';

.c-landing-frame {
  &__sold-out {
    opacity: 0.01;
    transition: opacity 0.3s;

    &.-show {
      opacity: 1;
    }
  }

  &__details {
    transition: all 0.3s;

    &.-animate {
      transform: translateY(10px);
    }
  }

  &__image-link {
    min-height: 170px;
    opacity: 0;
    transition:
      visibility 0s $transition-duration-fast,
      opacity $transition-duration-fast,
      transform $transition-duration-fast;

    &.-active {
      visibility: visible;
      opacity: 1;
      transition: opacity $transition-duration-fast $transition-duration-fast, transform $transition-duration-fast;
    }

    &.-show-ctas {
      transform: scale(.64) translateY(-60%);

      @include mqAbove($grid-breakpoint-tablet) {
        transform: scale(.64) translateY(-36%);
      }

      @include mqAbove($grid-breakpoint-desktop) {
        transform: scale(.64) translateY(-64px);
      }
    }
  }

  &__cta-container {
    opacity: 0;
    transition: opacity #{2 * $transition-duration-fast} $transition-duration-fast;
    transform: translateY(-60px);

    @include mqAbove($grid-breakpoint-desktop) {
      transform: translateY(-60px);
    }

    &.-active.-show-ctas {
      height: auto;
      transition:
        opacity 2 * $transition-duration-fast ease-out,
        visibility $transition-duration-fast,
        transform $transition-duration-fast ease;
      visibility: visible;
      opacity: 1;
    }
  }

  &__cta-link {
    width: 105px;
    min-width: 0;
    padding: 0;
    border-radius: 1px;
    box-shadow: none;
    border-color: color('dark-gray-alt-2');

    &:hover {
      border-color: color('dark-gray');
    }

    @include mqAbove($grid-breakpoint-desktop) {
      width: 125px;
    }
  }
}
