@import 'src/css/mixins';

@import './variations/bapgap';
@import './variations/standard';
@import './variations/hero/hto';
@import './variations/hero/spring_2016';


.c-callout {

  &__copy,
  &__title,
  &__description {
    @include uType;
    display: block;
  }

  &__copy {

      &--ttl,
      &--ttr,
      &--btr,
      &--btl {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12/16 * 100%;
        text-align: center;
      }

      &--ttl,
      &--ttr {
        top: 25%;
      }

      &--btr,
      &--btl {
        top: 75%
      }

      @include mqCallout('s') {

        &--ttl,
        &--ttr,
        &--btr,
        &--btl {
          transform: translate(0, -50%);
          top: 50%;
          bottom: auto;
        }

        &--ttr,
        &--btr {
          left: 10/16 * 100%;
          width: 5/16 * 100%;
        }

        &--ttl,
        &--btl {
          left: 3.25%;
          width: 5/16 * 100%;
        }
      }
    }

  &__content {
    @include mqCallout('s') {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: width-callout('l');
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    @include familySerif;
    font-weight: $font-weight-semibold;
  }

  &__picture {
    display: block;
  }

  &--hero-windsor {
    padding-bottom: 900px;
  }

  &__image {
    width: 100%;
  }

  &__markdown__p {
    margin: 0;
  }
}
