@import "src/css/mixins";

.c-appointment-success {
  &__col {
    display: flex;
  }

  &__link-container {
    max-width: 380px;
    @include mqAbove($grid-breakpoint-desktop) {
      margin: initial;
    }
  }

  &__shop-link {
    padding: 12px 14px;
  }
}
