@import 'src/css/mixins';

.c-winter-2015-intro-section{

  position: relative;
  margin-bottom: 5%;


  @include mqAbove($collection-winter-2015-width-desktop) {
    margin-bottom: 0;
  }


  &__hero-wrapper {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 50%;

    &.-right {
      left: 65%;
    }
  }

  &__slider-wrapper {
    position: relative;
  }

  &__logo {
    width: 50%;
  }

  &__pricing-text {
    margin-top: 5%;
    font-size: 24px;
    left: 10%;
    text-align: center;
    width: 50%;
    position: relative;
  }

  &__hero-text {
    width: 60%;
    margin-bottom: 5%;
    margin-top: 5%;
    position: relative;
    left: 5%;
  }

  &__copy-wrapper {
    text-align: center;
    position: relative;
    right: 10%;
  }

  &__static-wrapper {
    width: 100%;
  }

}
