@import 'src/css/mixins';

.c-eye-exams {
  &__hr {
    border-style: dashed;
  }

  &__region-group {
    @include mqAbove($grid-breakpoint-tablet) {
      columns: 2;
      column-gap: 24px;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      columns: 3;
      column-gap: 36px;
    }
  }

  &__location-group {
    break-inside: avoid;
  }

  &__region-name {
    margin-bottom: 12px;
  }

  &__footer-title {
    letter-spacing: 2.5px;
    margin-bottom: 12px;
  }
}
