@import 'src/css/mixins';

.c-callout--hero-hto {
  width: 100%;
  position: relative;
  max-width: width-callout('l');
  margin: 0 auto;

  @include mqCallout('s') {
    border-bottom: 1px color('light-gray') solid;
  }

  @include mqCallout('m') {
    border: 0;
  }

  &__content {
    // Reset content
    // TODO: Re-write with utilities
    position: static;
    left: auto;
    transform: none;
    text-align: center;
    margin: 0 auto;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;

    @include mqCallout('s') {
      position: static;
      top: auto;
      left: auto;
      height: auto;
    }
  }

  &__copy {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;

    @include mqCallout('s') {
      padding-bottom: 36px;
      padding-top: 36px;
      position: relative;
      transform: none;
      left: auto;
    }

    @include mqCallout('m') {
      border: 0;
      padding: 0;
      position: absolute;
      right: 1/16 * 100%;
      top: 40%;
      transform: translateY(-50%);
      width: 5/16 * 100%;
    }
  }

  &__title {
    @include typeHeadlineExtraSmall;
    margin-bottom: 6px;

    @include mqCallout('s') {
      @include typeHeadline;
      margin-bottom: 12px;
    }

    @include mqCallout('m') {
      @include typeHeadlineSmall;
      margin-bottom: 24px;
    }
  }

  &__description {
    @include typeBody;
    margin-bottom: 12px;

    @include mqCallout('s') {
      @include typeSectionHeadline;
      margin-bottom: 24px;
    }

    @include mqCallout('m') {
      @include typeSubhead;
      margin-bottom: 36px;
    }
  }

  &__link {
    @include typeBody;
    width: 160px;
    display: block;
    margin: 0 auto 12px;

    @include mqCallout('s') {
      @include typeSectionHeadline;
      display: inline-block;
      width: 200px;
      margin: 0 6px 12px;
    }
  }

  &__picture {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: ratio-callout(490px, 'xs');

    @include mqCallout('s') {
      padding-bottom: ratio-callout(414px, 's');
    }

    @include mqCallout('m') {
      padding-bottom: ratio-callout(552px, 'm');
    }

    @include mqCallout('l') {
      padding-bottom: 0;
      height: width-callout('s');
    }
  }

  &__image {
    display: block;

    @include mqCallout('m') {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    @include mqCallout('l') {
      max-width: width-callout('l');
      left: 50%;
      transform: translateX(-50%);
    }
  }

}
