@import 'src/css/mixins';

.c-callout--hero-spring-2016 {
  width: 100%;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 166%;
  position: relative;
  border-bottom: 1px solid #D2D6D9;

  @include mqAbove(500px) {
    padding-bottom: 150%;
  }

  @include mqCallout('s') {
    padding-bottom: 54%;
    border-bottom: 0;
  }

  @include mqCallout('m') {
    padding-bottom: ratio-callout(552px, 'm');
  }

  @include mqCallout('l') {
    padding-bottom: 0;
    height: width-callout('s');
  }

  &__title {
    display: none;
    @include mqCallout('s') {
      display: block;
      text-transform: uppercase;
      color: $spring-header;
      margin: -5px 0 24px;
      letter-spacing: 3px;
      font-family: proxima-nova;
      font-weight: 700;
    }

    @include mqCallout('m') {
      font-size: 20px;
      margin-top: 0;
    }

  }

  &__copy {
    position: absolute;
    width: 80%;
    top: 66%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);

    @include mqAbove(500px) {
      top: 73%;
    }

    @include mqCallout('s') {
      top: 25%;
      width: 42%;
      left: 72%;
    }

    @include mqCallout('m') {
      text-align: center;
      top: 50%;
      left: 63.25%;
      width: 30.25%;
      transform: translateY(-50%);
    }
  }

  &__logo {
    margin: 0 auto 36px;
    display: block;
    max-width: 256px;
    @include mqCallout('s') {
      width: 80%;
      max-width: 100%;
    }

    @include mqCallout('m') {
      width: 100%;
    }
  }

  &__description {
    @include typeBody;
    color: color('black');
    position: relative;
    top: -20px;
    margin-bottom: 10px;

    @include mqCallout('s') {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 0;
      display: block;
      top: 0;
    }
    @include mqCallout('m') {
      font-size: 24px;
      margin: 36px 0 36px;
    }

  }

  &__link {
    color: color('black');
    border: 1px solid color('black');
    position: relative;
    top: -10px;
    @include mqCallout('s') {
      top: 0;
      width: 192px;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    @include mqCallout('l') {
      max-width: width-callout('l');
      left: 50%;
      transform: translateX(-50%);
    }
  }

}
