@import 'src/css/mixins';

.c-order-prescription-form {
  &__horizontal-rule {
    margin-top: 12px;
  }

  &__show-prescriptions {
    color: color('blue');
    margin-bottom: 24px;

    &:focus {
      outline: 0;
      border-bottom: 1px color('blue') solid;
    }
  }

  &__back {
    display: block;
    margin: 36px auto;
  }

  &__heading {
    padding-bottom: 12px;
  }

}
