@import 'src/css/mixins';

.c-checkbox {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: block;

  &.-inline {
    display: inline;
  }

  &.-toggle {
    padding-left: 42px;
  }

  &.-disabled {
    cursor: default;
  }
}

.c-checkbox__input {
  opacity: 0;
}

.c-checkbox__input,
.c-checkbox__icon {
  position: absolute;
  top: 0;
  left: 0;

  &.-align-middle {
    top: calc(50% - 10px)
  }
}

.c-checkbox__swatch {
  position: absolute;
  top: -2px;
  left: 0;
}

[type="checkbox"]:checked ~ .c-checkbox__swatch-text {
  font-weight: 600;
}

.c-checkbox__swatch-text {
  user-select: none;

  &::after {
    display: block;
    content: attr(data-name);
    font-weight: $font-weight-semibold;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
  }
}

.c-checkbox__toggle {
  width: 32px;
  height: 18px;
  border-radius: 9px;
  background: color('light-gray-alt-5');
  border: 1px solid color('light-gray');
  transition: $transition-duration-fast ease-in-out;

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: color('white');
    box-shadow: 1px 0 3px 0 color('black-20p');
    transition: $transition-duration-fast ease-in-out;
  }
}

input[type='checkbox']:checked + .c-checkbox__toggle {
  background: color('blue');
  border-color: color('blue');

  &::after {
    transform: translateX(14px);
    box-shadow: -1px 0 3px 0 color('black-20p');
  }
}
