@import 'src/css/mixins';

.c-modal-loader {
  max-width: 240px;
  margin: 0 auto;
}

.c-modal-loader__bar {
  width: 100%;
  height: 6px;
  overflow: hidden;
  position: relative;
  border: 1px color('light-gray') solid;
  border-radius: 1px;


  // 1px cover for left and right border.

  &::before,
  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: color('white');
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

}

.c-modal-loader__fill {
  height: 2px;
  left: -200px;
  width: 200px;
  z-index: 0;
  position: absolute;
  top: 1px;
  background-color: color('dark-gray');
  animation: loading 2s $transition-timing-function-default infinite;
}

.c-modal-loader__text {
  color: color('dark-gray');

  // Hide off-screen if multiple
  & + & {
    position: absolute;
    left: -999px;
  }
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
