/**
 * Breakpoints
 */
$min-width-tablet-small: 500px;
$min-width-tablet: 720px;
$min-width-desktop: 960px;
$min-width-desktop-large: 1200px;
$min-width-desktop-x-large: 1600px;

$c-callout-sizes: (
  'xs': 320px,
  's': 768px,
  'm': 1024px,
  'l': 1440px,
  'xl': 2000px
);

$c-navigation-grid-breakpoints: (
  'tablet': 900px,
  'desktop': 1200px
);

/**
 * Home Try-On Breakpoints
 */
$breakpoint-hto-xxsmall: 600px;
$breakpoint-hto-xsmall: 640px;
$breakpoint-hto-small: 768px;
$breakpoint-hto-medium: 1024px;
$breakpoint-hto-large: 1200px;
$breakpoint-hto-xlarge: 1600px;

/**
 * Gallery Frames Grid Breakpoints
 */
$c-frames-grid-breakpoint-0: 414px;
$c-frames-grid-breakpoint-1: 768px;
$c-frames-grid-breakpoint-2: 1024px;
$c-frames-grid-breakpoint-3: 1200px;
$c-frames-grid-breakpoint-4: 1440px;
$c-frames-grid-breakpoint-5: 1600px;
$c-frames-grid-breakpoint-6: 2000px;

$c-gallery-filters-breakpoint-1: 320px;
$c-gallery-filters-breakpoint-2: 414px;
$c-gallery-filters-breakpoint-3: 840px;
