/**
 * Ghostly
 */

$collection-ghostly-color-highlight: #a88fcc;
$collection-ghostly-color-background-transparent: rgba(255, 255, 255, 0.8);

$collection-ghostly-breakpoint-1:  640px;
$collection-ghostly-breakpoint-2:  800px;
$collection-ghostly-breakpoint-3:  900px;
$collection-ghostly-breakpoint-4: 1000px;
$collection-ghostly-breakpoint-5: 1100px;
$collection-ghostly-breakpoint-6: 1200px;
$collection-ghostly-breakpoint-7: 1440px;

/**
 * Fall 2015 Core
 */
$collection-fall-2015-color-light-gray:     #e3e9e9;
$collection-fall-2015-color-dark-gray:      #424b56;
$collection-fall-2015-color-amber:          #cb7317;
$collection-fall-2015-color-sky-blue:       #c0dcea;
$collection-fall-2015-color-orange:         #d2712a;
$collection-fall-2015-color-gray:           #dddfe1;


/**
 * Maiyet
 */
$collection-color-maiyet-background: #f7eae1;
$collection-color-maiyet-background-alt: #fff6ef;
$collection-color-maiyet-dark-brown: #e2c2ab;

/**
 * Thea
 */
$collection-thea-hero_width: 2880px;
$collection-thea-hero_height: 1620px;
$collection-thea-logo_width: 844px;
$collection-thea-logo_top: 573px;
$collection-thea-logo_left: 1605px;

$collection-thea-width-tablet: 640px;
$collection-thea-width-desktop: 1440px;


/**
 * Uncrate
 */

$collection-color-uncrate-background: rgba(210, 214, 217, 0.2);
$collection-color-uncrate-text: rgba(21, 31, 48, 1);

$collection-uncrate-width-desktop: 1440px;
$collection-uncrate-width-tablet: 640px;
$collection-uncrate-width-mobile: 800px;

/**
 * Winter 2015 Core
 */
$collection-winter-2015-width-desktop: 960px;
$collection-winter-2015-width-tablet: 640px;

/**
 * Windsor
 */
$collection-windsor-width-desktop: 960px;
$collection-windsor-width-tablet: 640px;
$collection-windsor-width-mobile: 500px;


/**
 * Spring 2016 Core
 */

$collection-spring-2016-width-desktop: 960px;
$collection-spring-2016-width-tablet: 640px;
$collection-spring-2016-width-mobile: 500px;
$spring-header: #1C4CA0;

/**
 * Sun Collective
 */

$collection-sun-collective-width-desktop: 960px;
$collection-sun-collective-width-tablet: 640px;
$collection-sun-collective-width-mobile: 500px;
$collective-copy-dark: #5C9DBE;
$collective-copy-light: #C8EBEE;

/**
 * Windsor Spring
 */
$collection-windsor-spring-width-desktop: 960px;
$collection-windsor-spring-width-tablet: 640px;
$collection-windsor-spring-width-mobile: 500px;

/**
 * Summer 2016
 */

$collection-summer-2016-color-blue: #3C6BE4;
$collection-summer-2016-color-orange: #F5A623;
$collection-summer-2016-color-pink: #FA8476;




