/**
 * Font Styles
 */
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-color: #414b56;

$font-style-normal: normal;
$font-style-em: italic;
$rem-base: 16px;

$family-sans: 'proxima-nova', 'Helvetica', 'Verdana', sans-serif;
$family-serif: 'utopia-std', 'Times New Roman', serif;
