@import 'src/css/mixins';

.c-hero-short {
  height: 200px;

  @include mqAbove($min-width-tablet-small) {
    height: 260px;
  }

  @include mqAbove($c-frames-grid-breakpoint-5) {
    height: auto;
    min-height: 250px;
    max-height: 420px;
  }

  &__image {
    width: auto;
    max-width: none;

    @include mqAbove($c-frames-grid-breakpoint-5) {
      width: 100%;
    }
  }
}
