@import 'src/css/mixins';

.c-locations-schedule-list {
  &__current-status {
    padding: 0 6px;
    border: {
      width: 1px;
      style: solid;
      radius: 2px;
    }
    margin-bottom: 24px;

    @include mqAbove($grid-breakpoint-tablet) {
      padding: 0 12px;
    }
  }

  &__name,
  &__hours {
    @include typeBody;

    @include mqAbove($min-width-tablet) {
      @include typeSectionBody;
    }

    @include mqAbove($grid-breakpoint-desktop-large) {
      @include typeSectionHeadline;
    }
  }

  &__hours {
    width: 100%;
    margin-bottom: 24px;
  }
}
