@import 'src/css/mixins';

.c-formgroup {
  position: relative;
  margin-bottom: 24px;
  vertical-align: top;

  &.-half {
    display: inline-block;
    width: calc(50% - 12px);

    & + & {
      margin-left: 24px;
    }
  }

  &.-half-margin-bottom {
    margin-bottom: 12px;
  }

  &.-v2 {
    margin-bottom: 18px;

    &.-inline {
      display: inline-block;

      .c-field-container {
        border-right-width: 0;
        border-radius: 0;
      }

      &:first-child {
        .c-field-container {
          border-top-left-radius: 1px;
          border-bottom-left-radius: 1px;
        }
      }

      &:last-child {
        .c-field-container {
          border-right-width: 1px;
          border-top-right-radius: 1px;
          border-bottom-right-radius: 1px;
        }
      }

      &.-focus + .c-formgroup {
        .c-field-container {
          border-left-color: color('dark-gray-alt-2');
        }
      }

      &.-error:not(.-focus) + .c-formgroup {
        .c-field-container:not(.-focus) {
          border-left-color: color('red-alt-2');
        }
      }
    }
  }
}

.c-formgroup__input {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  margin: 0;
}

.c-formgroup__field:not(.-v2) {
  &:focus {
    padding-right: 52px;
  }

  &[type='password']:focus {
    padding-right: 106px;
  }
}

.c-formgroup__actions {
  position: absolute;
  right: 12px;
  top: 14px;
  z-index: $z-index-formgroup__icon;
  visibility: visible;
  opacity: 1;
  transition: {
    property: visibility, opacity;
    duration: $transition-duration-default;
    delay: 0s;
  }

  &:hover {
    visibility: visible;
  }
}

.c-formgroup__field:not(:focus) ~ .c-formgroup__actions {
  transition-delay: 0s, $transition-duration-default;
  visibility: hidden;
  opacity: 0;

  visibility: visible \9; // IE9: No transition, so always leave visible.

}

.c-formgroup__arrow {
  position: absolute;
  top: 30px;
  right: 18px;
  z-index: $z-index-formgroup__arrow;
  pointer-events: none;

  display: none \9; // IE9: we can't hide the default arrow, so don't show ours.

  &.-v2 {
    top: 20px;
    right: 16px;
  }
}

.c-formgroup__icon {
  position: absolute;
  top: 50%;
  right: 24px;
  z-index: $z-index-formgroup__icon;
  transform: translateY(-50%);

  &.-select {
    right: 48px;
  }
}

.c-formgroup__data-item {
  position: absolute;
  top: 0;
  right: 0;
  color: color('light-gray');

  &.-checked {
    color: color('blue');
  }
}

.c-formgroup__button {
  position: absolute;
  top: 14px;
  right: 20px;

  &.-validation {
    right: 48px;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid;
  }
}
