@import 'src/css/mixins';

.c-buyable-frame {
  vertical-align: bottom;

  &__details {
    // 128px = width of the add to cart button
    width: calc(100% - 128px);

    @include mqAbove($grid-breakpoint-desktop) {
      &.-large {
        // 216px = width of the add to cart button
        width: calc(100% - 216px);
      }
    }
  }
}
