@import 'src/css/mixins';

.c-icon-holiday-logotype {

  &__wrapper {
    position: relative;
  }

  &__linear {
    width: 75%;
    margin: -35% 0 -32%;
  }

  &__stacked {
    fill: color('black');
    width: 90%;
    margin-top: -15%;
    margin-bottom: -25%;
  }
}
