@import 'src/css/mixins';

.c-shipping-address-notice {
  color: color('dark-gray-alt-2');
  margin-bottom: 70px;

  @include mqAbove($min-width-desktop) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}
