@import 'src/css/mixins';

.c-locations-banner-image {
  height: 0;
  padding-bottom: 70%;

  @include mqAbove($grid-breakpoint-desktop) {
    padding-bottom: 35%;
  }

  &__image {
    width: 100%;
  }
}
