@import 'src/css/mixins';

.c-places {
  background: color('white');

  &__place {
    width: 100%;
    display: block;
    padding: 6px 12px;
    color: color('dark-gray');
    text-align: left;
    min-height: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px color('light-gray-alt-1') solid;
    overflow: hidden;

    &:hover,
    &:focus {
      background: color('light-gray-alt-2');
    }
  }

  &__error {
    padding: 3px;
  }

  &__google {
    background: color('light-gray-alt-2');
    padding: 6px 6px 0;
    text-align: right;
  }

  &__highlight {
    background: color('light-gray-alt-2');
  }

}
