@import 'src/css/mixins';

.c-breadcrumbs {
  &.-over-hero {
    position: absolute;
    top: 6px;
    z-index: $z-index-overlay-breadcrumb;

    @include mqAbove($grid-breakpoint-desktop) {
      top: 12px;
    }
  }

  &__list-item {
    &:not(:last-child):after {
      @include typeCaptionLabel;
      content: '/';
      font-weight: normal;
      padding: 0 8px;
    }
  }

  &__list.-over-hero {
    background-color: color('white', 0.8);
    border-radius: 2px;
    float: left;
    padding: 0 6px;
  }
}
