@import 'src/css/mixins';

.c-winter-2015-callout {
  position: relative;

  @include mqAbove($min-width-tablet) {
    width: 98.5%;
    margin-bottom: 5%;
    margin-left: 0.75%;
    margin-right: 0.75%;
  }

  &__image {
    width: 100%;
  }

  &__image-wrapper {
    position: relative;
  }

  &.-middle {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  &.-hto {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  &__divider {

    position: absolute;
    width: 31%;
    height: 1.5vw;
    top: 54%;
    left: 15%;

    &.-grey {
      background-color: rgba(227,233,233,1);
    }

    &.-blue {
      background-color: rgba(202,230,244,1);
    }

    &.-right {

      @include mqAbove($collection-winter-2015-width-tablet) {
        height: 0.5vw;
        width: 13%;
        left: 56%;
        top: 26%;
      }

    }

    &.-left {
      top: 67%;

      @include mqAbove($collection-winter-2015-width-tablet) {
        height: 0.5vw;
        width: 13%;
        left: 5%;
        top: 28%;
      }
    }

    &.-hto {
      top: 65%;

      @include mqAbove($collection-winter-2015-width-tablet) {
        height: 0.5vw;
        width: 13%;
        left: 72%;
        top: 28%;
      }
    }

  }

/* targets the children of the markdown component */
  &__markdown-text {

    @include mqAbove($collection-winter-2015-width-desktop) {
      @include typeSubhead;
    }

    margin-bottom: 20px;
  }
/* targets the div wrapping the markdown children */
  &__markdown-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;

    &.-text-right {

      top: 65%;
      left: 15%;
      width: 67%;

      @include mqAbove($collection-winter-2015-width-tablet) {
        font-size: 16px;
        width: 35%;
        left: 56%;
        top: 37%;
      }

      @include mqAbove($collection-winter-2015-width-desktop) {
        @include typeSubhead;
        width: 26%;
      }

    }

    &.-text-hto {

      top: 72%;
      left: 15%;
      width: 67%;

      @include mqAbove($collection-winter-2015-width-tablet) {
        font-size: 16px;
        width: 23%;
        left: 72%;
        top: 34%;
      }

      @include mqAbove($collection-winter-2015-width-desktop) {
        @include typeSubhead
      }

    }

    &.-text-left {

      top: 74%;
      left: 15%;
      width: 73%;

      @include mqAbove($collection-winter-2015-width-tablet) {
        font-size: 16px;
        width: 23%;
        left: 5%;
        top: 38%;
      }

      @include mqAbove($collection-winter-2015-width-desktop) {
        @include typeSubhead
      }

    }

  }

}
