@mixin uButton {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  padding: 0;
  border-radius: 1px;
  transition: background-color $transition-duration-default;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  border: 0;
  color: color('dark-gray-alt-2');
  fill: color('dark-gray-alt-2');
  background-color: color('white');

  &:hover,
  &:focus,
  &:active {
    background: color('white');
    color: color('dark-gray');

    &.-button-disabled {
      color: color('light-gray');
      cursor: default;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px color('white'),
      0 0 0 2px color('blue', 0.3);
    &.-button-disabled {
      box-shadow: 0;
    }
  }

  &:disabled,
  &.-button-disabled
   {
    color: color('light-gray');
  }
}
