@mixin buttonGrayHover {
  color: color('dark-gray');
  background: color('light-gray-alt-3');
}

@mixin buttonGrayFocus {
  outline: 0;
  background: color('light-gray-alt-2');
  box-shadow: 0 0 0 1px color('light-gray-alt-2'),
    0 0 0 2px color('subtle-gray'),
    inset 0 0 0 1px color('white');
}

@mixin buttonGrayActive {
  background: color('subtle-gray');
  box-shadow: inset 0 0 0 1px color('white');
}

@mixin buttonGrayDisabled {
  color: color('light-gray');
  border-color: color('light-gray');
  background: color('light-gray-alt-2');
  box-shadow: none;
}

@mixin buttonGray($selector: '') {
  &#{$selector} {
    position: relative;
    color: color('dark-gray');
    border: 1px solid color('light-gray');
    border-radius: 1px;
    background: color('light-gray-alt-2');
    box-shadow: inset 0 0 0 1px color('white');
    text-shadow: none;

    &:hover {
      @include buttonGrayHover;
    }

    &:focus {
      @include buttonGrayFocus;
    }

    &:active {
      @include buttonGrayActive;
    }

    &:disabled {
      @include buttonGrayDisabled;
    }
  }
}
