@mixin uButtonOptions($name: 'button') {
  $modifier: '-#{$name}';

  &.#{$modifier}-inline {
    & ~ & {
      margin-left: 12px;
    }
  }

  &.#{$modifier}-full {
    width: 100%;
    margin-bottom: 12px;
  }

  &.#{$modifier}-large {
    @include buttonLarge;
  }

  &.#{$modifier}-medium {
    @include buttonMedium;
  }

  &.#{$modifier}-small {
    @include buttonSmall;
  }

  &.#{$modifier}-small-medium {
    @include buttonSmall;

    @include mqAbove($grid-breakpoint-desktop) {
      @include buttonMedium;
    }
  }

  &.#{$modifier}-modular {
    @include uVerticallyCenter;
    min-width: 220px;
    padding: 0 12px;
    height: 48px;
    margin: 6px;

    &.-expMobileHomeHero {
      // Experiment to test new mobile hero.
      @include mqBelow($grid-breakpoint-tablet) {
        min-width: 140px;
        height: 36px;
      }
    }

    @include mqAbove($grid-breakpoint-desktop) {
      min-width: 182px;
    }
  }

  @each $breakpoint in $grid-breakpoint-list {
    $variation: property-breakpoint-variation($breakpoint);
    @include mqAbove($breakpoint) {
      &.#{$modifier}-block#{$variation} {
        display: block;
      }

      &.#{$modifier}-hide#{$variation} {
        display: none;
      }
    }
  }

  &.#{$modifier}-shadow {
    &:not(:focus):not(:active):not(:disabled) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 1px 2px 0 color('black-10p');
      }
    }
  }

  &.#{$modifier}-left {
    text-align: left;
  }

  &.#{$modifier}-reset {
    background-color: color('white');
    border: 0;

    &:hover {
      color: color('dark-gray');
      background-color: color('white');
      border: 0;
    }
  }

  &.#{$modifier}-pair {
    margin: {
      left: 6px;
      right: 6px;
      bottom: 12px;
    }

    &.-mobile-stack {
      width: 100%;
      display: block;
      margin: {
        left: 0;
        right: 0;
      }

      @include mqAbove($min-width-tablet-small) {
        width: auto;
        display: inline-block;
        margin: {
          left: 6px;
          right: 6px;
        }
      }
    }
  }
}
