@mixin buttonLarge {
  @include uVerticallyCenter;
  min-width: 284px;
  padding: 0 24px;
  height: 60px;
}

@mixin buttonMedium {
  @include uVerticallyCenter;
  min-width: 155px;
  padding: 0 24px;
  height: 48px;
}

@mixin buttonSmall {
  @include uVerticallyCenter;
  min-width: 65px;
  padding: 0 12px;
  height: 36px;
}
