@import "src/css/mixins";

.c-insurance-reimbursements {
  &__link {
    &:hover {
      border-bottom-width: 2px;
      color: color("blue");
    }
  }

  &__link + &__link {
    margin-left: 24px;
  }

  &__image-wrapper {
    max-width: 150px;

    @include mqAbove($grid-breakpoint-desktop) {
      height: 0;
      padding-bottom: 32%;
    }

    &.-exams {
      max-width: 105px;

      @include mqAbove($grid-breakpoint-desktop) {
        height: 0;
        padding-bottom: 32%;
      }
    }
  }
}
