@import 'src/css/mixins';

.c-icon-fall-2015-logo {
  position: absolute;
  width: 90%;
  bottom: -20%;
  right: 50%;
  transform: translateX(50%);

  @include mqAbove($min-width-tablet) {
    left: 2.6%;
    transform: none;
    width: 38.2%;
    top: 19%;
  }

  @include mqAbove($min-width-desktop) {
    width: 32.5%;
    top: 11.75%;
    left: 6.4%;
  }

  &__type {
    fill: $collection-fall-2015-color-dark-gray;
  }

  &__line {
    fill: none;
    stroke-width: 4;
    stroke-miterlimit: 10;

    &--blue-line {
      stroke: $collection-fall-2015-color-sky-blue;
    }

    &--gray-line {
      stroke: $collection-fall-2015-color-light-gray;
    }
  }
}
