@import 'src/css/mixins';

.c-glasses-nav-type {
  @include mqAbove($grid-breakpoint-tablet) {
    width: 50%;
    overflow: hidden;
  }

  &__open {
    background: {
      color: transparent;
      position: center 70%;
      repeat: no-repeat;
      size: 259px;
    }
    border: none;
    height: $navigation-drawer-mobile-height;

    @include mqAbove($grid-breakpoint-tablet) {
      background-size: 80%;
      height: $navigation-drawer-tablet-height;
    }
  }

  &__list {
    opacity: 0;
    transition: {
      property: opacity, visibility, z-index;
      duration: $transition-duration-default * 2, 0s, 0s;
      timing-function: $transition-timing-function-default;
      delay: 0s,
        $transition-duration-default * 2,
        $transition-duration-default * 2;
    }
    z-index: 1;
  }

  &__item {
    height: $navigation-drawer-mobile-height;
    background: {
      position: center bottom;
      repeat: no-repeat;
      size: auto 95%;
    }
    width: 50%;

    // Top white line
    &::before {
      content: '';
      position: absolute;
      height: 24px;
      width: 100%;
      background-color: color('white');
      top: 0;
      left: 0;
      z-index: -1;
    }

    @include mqAbove($grid-breakpoint-tablet) {
      height: $navigation-drawer-tablet-height;
      background-position: right 20% bottom;
    }
  }

  &__link {
    top: 32px;

    &:hover {
      font-weight: $font-weight-semibold;
    }

    &:focus {
      font-weight: $font-weight-semibold;
      outline: none;
    }
  }

  &__variant {
    @include typeBody;
    text-shadow: 0 1px 0 color('black-20p'), 0 0 12px color('black');

    @include mqAbove($grid-breakpoint-tablet) {
      @include typeSectionHeadline;
      left: 36px;
      text-shadow: none;
      top: calc(50% + 12px); // + half of white line
      transform: translateY(-50%);
    }
  }

  &__pre-variant {
    @include mqAbove($grid-breakpoint-tablet) {
      margin-top: -3px;
    }
  }

  &__close {
    background: none;

    @include mqAbove($grid-breakpoint-tablet) {
      z-index: $z-index-glasses-view-categories;
      top: -16px;
    }
  }

  &__x {
    width: 16px;
    border: 1px color('dark-gray') solid;
    border-radius: 50%;
    padding: 4px;
  }

  &__open[aria-expanded=true] ~ &__list,
  &__open:focus:not([aria-expanded=false]) ~ &__list {
    opacity: 1;
    visibility: visible;
    display: block;
    transition-delay: 0.05s;
    z-index: $z-index-glasses-showing;
  }

  @include mqAbove($grid-breakpoint-tablet) {
    &__open[aria-expanded=true] ~ &__close,
    &__open:focus:not([aria-expanded=false]) ~ &__close {
      display: block;
    }
  }
}
