.c-promo-block-heading-body__body__a {
  border-bottom: 1px solid color('blue');

  @include mqAbove($grid-breakpoint-desktop) {
    border-bottom: none;

    &:hover {
      border-bottom: 1px solid color('blue');
    }
  }
}
