@import 'src/css/mixins';

.c-sunscapades-callout {

  &__links {
    color: color('dark-gray');
    border-color: color('dark-gray');
    border-bottom-width: 1px;

    @include mqAbove($grid-breakpoint-desktop) {
      border-bottom-width: 0;
      transition: all 0.1s;
      &:hover {
        color: color('dark-gray');
        border-bottom: 2px solid color('dark-gray');
      }
    }
  }

  &__image {
    @include mqAbove($grid-breakpoint-desktop) {
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    }
  }

  &__image-wrapper {
    z-index: 2;
    transition: {
      property: transform;
      duration: 1.5s;
      delay: 0.5s;
      timing-function: $transition-timing-function-default;
    }
    position: relative;
    backface-visibility: hidden;

    &.-first {
      left: 8%;
      width: 95%;
      transform: rotate(-3deg);
      margin-bottom: 60px;

      @include mqAbove($grid-breakpoint-tablet) {
        left: 11%;
        width: 78%;
        margin-top: 24px;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        width: 60%;
        left: 24%;
        top: -24px;
        &.-animate{
          transform: rotate(-4deg);
        }
      }
    }

    &.-second {
      left: 0%;
      width: 95%;
      transform: rotate(0deg);
      margin-bottom: 60px;

      @include mqAbove($grid-breakpoint-tablet) {
        left: 11%;
        width: 78%;
        margin-top: 24px;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        width: 70%;
        left: 15%;
        top: -25px;
        &.-animate{
          transform: rotate(-2deg);
        }
      }
    }

    &.-third {
      left: 10%;
      width: 95%;
      transform: rotate(5deg);
      margin-bottom: 60px;
      padding-top: 24px;

      @include mqAbove($grid-breakpoint-tablet) {
        left: 11%;
        width: 78%;
        margin-top: 24px;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        width: 60%;
        left: 15%;
        top: -50px;
        &.-animate{
          transform: rotate(6deg);
        }
      }
    }

    &.-fourth {
      left: 0%;
      width: 95%;
      margin-bottom: 60px;

      @include mqAbove($grid-breakpoint-tablet) {
        left: 11%;
        width: 78%;
        margin-top: 24px;
        transform: rotate(-4deg);
      }

      @include mqAbove($grid-breakpoint-desktop) {
        width: 70%;
        left: 15%;
        &.-animate{
          transform: rotate(-6deg);
        }
      }
    }

  }

  &__background-image-wrapper {
    backface-visibility: hidden;
    position: absolute;
    transition: {
      property: transform;
      duration: 1.5s;
      delay: 0.5s;
      timing-function: $transition-timing-function-default;
    }
    backface-visibility: none;
    &.-first {
      top: 5%;
      left: 27%;
      width: 60%;
      &.-animate{
        transform: rotate(1deg);
      }
    }

    &.-second {
      top: 9%;
      left: 15%;
      width: 68%;
      transform: rotate(3deg);
      &.-animate{
        transform: rotate(4deg);
      }
    }

    &.-third {
      top: 7%;
      left: 19%;
      width: 58%;
      transform: rotate(1deg);
    }

    &.-fourth {
      left: 14%;
      width: 90%;
      transform: rotate(0deg);
      margin-bottom: 60px;

      @include mqAbove($grid-breakpoint-tablet) {
        left: 11%;
        width: 78%;
        margin-top: 24px;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        transition: all 2s;
        transition-delay: 0.5s;
        top: 7%;
        width: 68%;
        left: 15%;
        &.-animate{
          transform: rotate(3deg);
        }
      }
    }
  }

  &__product-image {
    z-index: 3;

    &.-second {
      top: 63%;
      left: 9%;
      width: 26%;
    }

    &.-third {
      top: 65%;
      left: 22%;
      width: 17%;
    }

  }

  &__link-wrapper {
    position: absolute;
    text-align: right;

    &.-first {
      top: 86%;
      right: 6%
    }

    &.-second {
      top: 83%;
      right: 44%;
    }

    &.-third {
      top: 85%;
      right: 6%;
    }

    &.-fourth {
      top: 85%;
      right: 34%;
    }

    @include mqAbove($grid-breakpoint-tablet) {
      &.-first {
        top: 87%;
        right: 12%
      }

      &.-second {
        top: 87%;
        right: 62%;
      }

      &.-third {
        top: 94%;
        right: 13%;
      }

      &.-fourth {
        top: 88%;
        right: 12%;
      }
    }

    @include mqAbove($grid-breakpoint-desktop) {
      &.-first {
        top: 83%;
        right: 13%;
      }

      &.-second {
        top: 89%;
        right: 14%;
      }

      &.-third {
        top: 84%;
        right: 39%;
      }

      &.-fourth {
        top: 90%;
        right: 13%;
      }
    }

  }

}
