@import 'src/css/mixins';

.c-technical-details {
  width: 100%;
  clear: both;
  margin: 72px 0;
}

.c-technical-details__list {
  &:last-child {
    margin-top: -24px;

    @include mqAbove($grid-breakpoint-desktop) {
      margin-top: 18px;
    }
  }
}
