@import 'src/css/mixins';

.c-onboarding-step {
  margin: 0 auto; // for pages not yet using grid

  @include mqAbove($grid-breakpoint-desktop) {
    &.-active {
      .c-onboarding-step__full-text {
        border-color: color(light-gray-alt-1);
        border-radius: 5px;

        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 15px;
          height: 15px;
          background-color: color(light-gray-alt-1);
          left: 12px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
          border-radius: 4px;
        }

        &::after {
          background-color: #fff;
          left: 13px;
        }

      }

      .c-onboarding-step__column-full-image {
        z-index: 10;
      }

    }
  }

  /*
  the native play buttons will still trigger the fullscreen, so it's best to hide them
  when iphone-inline-video is enabled. More info on the .IIV CSS class can be found on
  https://github.com/bfred-it/iphone-inline-video/issues/72#issuecomment-247629743
  */
  .IIV::-webkit-media-controls-play-button,
  .IIV::-webkit-media-controls-start-playback-button,
  video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
  }
}
