@import 'src/css/mixins';

.c-formgroup-error {
  color: $form-color-error;
  transition-property: max-height, opacity;
  transition-duration: $transition-duration-formgroup;
  overflow: hidden;

  &.error-enter,
  &.error-leave.error-leave-active {
    max-height: 0;
    opacity: 0;
  }

  &,
  &.error-enter.error-enter-active,
  &.error-leave {
    max-height: 96px;
    opacity: 1;

    &.-multiline {
      max-height: 999px;
    }
  }

  &.-v2 {
    margin-bottom: 18px;
    color: inherit;
  }
}

.c-formgroup-error__text {
  padding-top: 12px;
  padding-bottom: 12px;
}
