@import 'src/css/mixins';

.c-layout-minimal__logo {
  width: 146px;
  display: block;
  margin: 24px auto;
}

.c-layout-minimal__container {
  max-width: 348px;
  margin: 0 auto;

  &.-use-grid {
    // Here because some pages using this layout haven't yet been updated
    // to use the grid system.
    max-width: none;
  }

  .c-back-link {
    position: absolute;
    top: 18px;
  }

  &.-align-center {
    text-align: center;
  }

  &.-align-left {
    text-align: left;
  }

  @include mqAbove($min-width-tablet){
    max-width: 720px;
  }

  @include mqAbove($min-width-desktop) {
    max-width: 960px;
  }

}
