@import 'src/css/mixins';

.c-rauschenberg-frame-callout {

  &__frame-modifier {
    @include mqAbove($grid-breakpoint-desktop) {
      top: 20%;

      &.-flip {
        top: 0%;
      }
    }
  }

  &__flex-wrapper {
    display: flex;
    flex-direction: column;

    @include mqAbove($grid-breakpoint-desktop) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;

    @include mqAbove($grid-breakpoint-desktop) {
      width: 52%;
    }

    &.-flip {
      @include mqAbove($grid-breakpoint-desktop) {
        width: 86%;
      }
    }
  }

  &__flex-child {

    &.-flip {
      @include mqAbove($grid-breakpoint-desktop) {
        padding-right: 60px;
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
      }
    }

  }

  &__copy-wrapper {
    font-size: 13px;
    line-height: 19px;

    @include mqAbove($grid-breakpoint-desktop) {
      width: 50%;

      &.-flip {
        width: 63%;
      }
    }
  }

}
