@import 'src/css/mixins';

.c-collection-utility-slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &__link + &__link {
    margin-left: 24px;
  }

  &__slides {
    display: flex;
  }

  &__slides--transition {
    transition: transform 0.2s;
  }

  &__slider-nav {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    order: 0;
  }

  &__slider-nav-button {
    background: none;
    border: 0;
    height: 20px;
    outline: none;
    position: relative;
    width: 20px;
    padding: 0;

    &::after {
      border-radius: 50%;
      border: 2px solid color('light-gray');
      content: '';
      display: block;
      height: 12px;
      left: 4px;
      position: absolute;
      top: 4px;
      width: 12px;
    }
  }

  &__slider-nav-button--active:after {
    background-color: color('light-gray');
  }

  &__slider-arrows {
    height: 0;
    left: 0;
    position: absolute;
    top: calc(50% - 35px);
    width: 100%;
    z-index: 1;
  }

  &__slider-arrows--no-nav {
    top: calc(50% - 20px);
  }

  &__slider-arrow {
    background: none;
    border: none;
    height: 40px;
    opacity: 0.5;
    outline: none;
    position: absolute;
    transition: opacity 0.25s;
    padding: 0px;
    width: 21px;

    &:hover {
      opacity: 1;
    }

    &::after,
    &::before {
      background: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 23px;
      position: absolute;
      width: 5px;
      left: 8px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__slider-arrow--left {
    top: 0;
    left: 10px;

    &::before {
      transform: rotate(30deg);
    }

    &::after {
      transform: rotate(-30deg);
    }
  }

  &__slider-arrow--right {
    top: 0;
    right: 10px;

    &::before {
      transform: rotate(-30deg);
    }

    &::after {
      transform: rotate(30deg);
    }
  }

  &__left-fancy-arrow {
    width: 10%;
    left: 4%;
    position: relative;
  }

  &__right-fancy-arrow {
    width: 10%;
    position: relative;
    left: 86%;
  }
}
