@import 'src/css/mixins';
$color-metal: #21213D;

.c-metal {

  &__hero-copy-sun {
    width: 77%;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 73%;
    }
    @include mqAbove($grid-breakpoint-desktop) {
      width: 33%;
      left: 2%;
    }
    @include mqAbove($grid-breakpoint-desktop-large) {
      width: 30%;
      left: 4%;
    }
  }

  &__hero-copy-optical {
    width: 83%;
    margin-top: 60px;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 74%;
      margin-top: 42px;
    }
    @include mqAbove($grid-breakpoint-desktop) {
      width: 33%;
      left: 2%;
      margin-top: 0;
    }
    @include mqAbove($grid-breakpoint-desktop-large) {
      width: 30%;
      left: 7%;
    }
  }
}

.u-metal-container {
  @include mqAbove(1440px) {
    width: 50%;
  }
  &.-three {
    @include mqAbove(1440px) {
      width: 85%;
    }
  }
}

.u-color-metal {
  color: $color-metal;
}

.u-type-metal {
  font-family: 'balboa-plus-fill';
  visibility: hidden;
}

.u-metal-link-white {
  &:hover {
    @include mqAbove($grid-breakpoint-desktop) {
      padding-bottom: 6px;
      border-bottom: 1px solid color('white');
      color: color('white');
    }
  }
}

.u-metal-link-gray {
  &:hover {
    @include mqAbove($grid-breakpoint-desktop) {
      padding-bottom: 6px;
      border-bottom: 1px solid color('dark-gray');
      color: color('dark-gray');
    }
  }
}

html[class*="wf-balboaplusfill"] .u-type-metal {
    visibility: visible;
}
