@import 'src/css/mixins';

.c-homepage {
  $color-home-callout: #f3f4f6;
  max-width: 1920px;

  &__hero-text {
    top: 8%;
    max-width: 300px;

    @include mqAbove($grid-breakpoint-tablet) {
      max-width: 420px;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      top: auto;
      bottom: 8%;
      padding: 0 5%;
      max-width: $grid-max-width;
    }

    @include mqAbove($grid-max-width) {
      padding: 0 30px;
    }
  }

  &__hero-header {
    @include mqAbove($grid-breakpoint-desktop) {
      font-size: 5.5vw;
    }

    @include mqAbove($grid-max-width) {
      font-size: 84px;
    }
  }

  &__hero-cta {
    transition: border-color $transition-duration-default;
    border-color: transparent;
    padding: 4px 0;

    &:focus {
      outline: none;
      padding-bottom: 2px;
      border-bottom: 2px solid;
    }
  }

  &__callout {
    background: $color-home-callout;

    @include mqAbove($grid-breakpoint-desktop) {
      &.-gradient {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          height: 33%;
          background: linear-gradient(color('black', 0), color('black', 0.50));
        }
      }
    }
  }

  &__callout-image {
    @include mqAbove($grid-breakpoint-desktop) {
      height: 100vh;
      max-height: 1056px;

      &.-header {
        height: calc(100vh - 60px); // Nav height
      }
    }
  }

  &__takeover-content {
    height: 100vh;
  }

  &__callout-text {
    z-index: 1;
    padding: 0 10%;
    bottom: 10%;
  }

  &__down-arrow {
    width: 12px;
    stroke-width: 3px;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 16px;
    }
  }

  &__pill {
    margin: 6px;
    padding: 6px 18px;
    border-radius: 16px;
    min-width: 120px;
    background: color('white');
    transition: $transition-duration-fast;

    &:hover,
    &:focus {
      background: color('blue');
      color: color('white');
      outline: none;
    }

    &.-outline {
      background: transparent;
      border: 1px solid color('black-50p');

      &:hover,
      &:focus {
        background: color('blue');
        border-color: color('blue');
      }
    }

    @include mqAbove($grid-breakpoint-desktop) {
      &.-outline--900 {
        background: transparent;
        border: 1px solid color('black-50p');

        &:hover,
        &:focus {
          background: color('blue');
          border-color: color('blue');
        }
      }
    }
  }

  &__takeover-image-container {
    height: 50%;
  }

  &__takeover-link {
    @include mqAbove($grid-breakpoint-desktop) {
      &.-left {
        margin-left: -25%;
      }

      &.-right {
        margin-left: 25%;
      }
    }
  }

  &__back-button {
    line-height: 0;
    z-index: 1;

    &:focus {
      outline: none;

      .u-icon {
        stroke: color('black');
      }
    }
  }

  @include mqAbove($grid-breakpoint-desktop) {
    &__callout-content {
      width: 360px;
      max-height: 0;
      opacity: 0;
      transition: $transition-duration-default ease-in-out;

      &.-wide {
        width: 420px;
      }
    }

    &__callout:hover {
      .c-homepage__callout-content {
        max-height: 108px;
        opacity: 1;
      }
    }
  }
}
