@import 'src/css/mixins';

.c-app-landing {

  &__header {
    @include mqAbove($grid-breakpoint-desktop) {
      padding-top: 15%;
      padding-left: 5%;
    }
  }

  &__hero-image {
    width: 640px;
    max-width: 90%;
    @include mqAbove($grid-breakpoint-tablet) {
      max-width: 50%;
    }
  }

  &__download-icon {
    width: 160px;
  }

  &__subhead {
    @include mqAbove($grid-breakpoint-desktop) {
      &:before,
      &:after {
        background-color: color('white');
        content: '';
        flex-grow: 1;
        height: 1px;
        position: relative;
        top: 0.5em;
      }

      &:before {
        margin-right: 72px;
      }

      &:after {
        margin-left: 72px;
      }
    }
  }

  &__subhead-description {
    max-width: 600px;

    @include mqAbove($grid-breakpoint-desktop) {
      max-width: 900px;
    }
  }

  &__badge {
    width: 283px;
  }

  &__content {
    max-width: 1128px;
  }

  &__content-background-desktop {
    width: 1440px;
  }

  &__content-background-mobile {
    width: 600px;
  }

  &__content-screenshot {
    width: 456px;
  }

  &__content-rating {
    height: 18px;
  }

  @keyframes slide-in-sticky {
    from { transform: translate3d(0, 110%, 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  &__sticky-footer {
    z-index: 1;
    box-shadow: 0 -2px 6px -2px color('black-10p');
    animation: {
      name: slide-in-sticky;
      duration: $transition-duration-default;
      timing-function: ease-out;
    }
  }
}
