@import 'src/css/mixins';

.c-gallery-hero {
  position: relative;
}

.c-gallery-hero__image-block {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;

  @include mqAbove($min-width-tablet-small) {
    height: 260px;
  }

  @include mqAbove($c-frames-grid-breakpoint-5) {
    height: auto;
    min-height: 250px;
    max-height: 420px;
  }
}

.c-gallery-hero__image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  max-width: none;

  @include mqAbove($c-frames-grid-breakpoint-5) {
    width: 100%;
    margin-bottom: -5px;
  }
}

.c-gallery-hero__text-block {
  max-width: 280px;
  margin: 0 auto -10px;
  padding-top: 20px;
  text-align: center;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    position: absolute;
    top: 50%;
    left: calc(50% - 210px);
    transform: translate(-50%, -50%);
    padding: 0;
    text-align: left;
  }

  &.-light {
    @include mqAbove($c-frames-grid-breakpoint-1) {
      color: color('white');
    }
  }

}

.c-gallery-hero__headline {
  @include typeSubhead();
  @include familySerif();
  font-weight: $font-weight-semibold;
  margin: 0;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    @include typeIntro();
  }
}

.c-gallery-hero__description {
  @include typeBody();
  font-weight: $font-weight-normal;
  margin-top: 4px;
  @include mqAbove($grid-breakpoint-tablet) {
    max-width: 250px;
  }
}
