@import 'src/css/mixins';

.c-icon-holiday-buttons-logotype {

  &__wrapper {
    position: absolute;
    width: 80%;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);

    @include mqAbove($min-width-tablet-small) {
      width: 70%;
      top: 20%;
    }
  }

  &__linear {
    width: 100%;
    margin: -33% 0 -33%;
  }

  &__stacked {
    fill: color('black');
    width: 90%;
    margin-top: -15%;
    margin-bottom: -25%;
  }
}
