@import 'src/css/mixins';

.c-metal-callout {

  &__link {
    @include mqAbove($grid-breakpoint-desktop) {
      &:hover {
        color: color('blue');
        border-bottom: 1px solid color('blue');
      }
    }
  }

  &__copy-block {
    top: 2%;
    width: 91%;
    left: 50%;
    transform: translateX(-50%);

    // Modifier describes the position of the copy block across breakpoints
    // from mobile-tablet-desktop. EX: -ttr -> top-top-right
    &.-ttr {
      top: 10%;
      @include mqAbove($grid-breakpoint-tablet) {
        top: 7%;
        width: 55%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        top: 50%;
        transform: translate(0,-50%);
        left: 60%;
        width: 32%;
      }
    }

    &.-trr {
      width: 75%;
      @include mqAbove($grid-breakpoint-tablet) {
        top: 50%;
        transform: translatey(-50%);
        width: 40%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        transform: translate(0,-50%);
        left: 60%;
        width: 33%;
      }
    }

    &.-tll {
      top: 8%;
      width: 70%;
      @include mqAbove($grid-breakpoint-tablet) {
        top: 45%;
        transform: translatey(-50%);
        left: 9%;
        width: 35%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        width: 36%;
        left: 7%;
        top: 46%;
      }
    }

    &.-trl {
      top: 8%;
      width: 83%;
      @include mqAbove($grid-breakpoint-tablet) {
        top: 50%;
        transform: translatey(-50%);
        left: 55%;
        width: 40%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        left: 11%;
      }

      @include mqAbove($grid-breakpoint-desktop-large) {
        left: 8%;
      }
    }

    &.-tlr {
      @include mqAbove($grid-breakpoint-tablet) {
        top: 50%;
        transform: translatey(-50%);
        left: 5%;
        width: 40%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        transform: translate(0,-50%);
        left: 60%;
        width: 33%;
      }
    }

    &.-bbr {
      top: 38%;
      width: 86%;

      @include mqAbove($grid-breakpoint-tablet) {
        top: 50%;
        width: 60%;
      }

      @include mqAbove($grid-breakpoint-desktop) {
        transform: translate(0,-50%);
        left: 57%;
        width: 36%;
      }
    }

  }
}
