@import 'src/css/mixins';

.c-jobs {

  &__tab {
    transition: all 0.1s;

    &::after {
      transition: all 0.1s;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background: color('dark-gray-alt-2');
    }

    &:hover {
      color: color('dark-gray-alt-2');

      &::after {
        height: 2px;
      }
    }
  }

  &__tab-active {
    &:hover {
      color: color('dark-gray');
    }
  }

  &__featured-job-link {
    transition: all 0.1s;

    @include mqAbove($grid-breakpoint-desktop) {
      &::after {
        transition: all 0.1s;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        background: color('blue');
      }
    }

    &:hover {
      @include mqAbove($grid-breakpoint-desktop) {
        color: color('blue');

        &::after {
          height: 2px;
        }
      }
    }
  }

  &__job-link {
    transition: border-color 0.1s;

    &:hover {
      border-bottom-color: color('blue');
    }
  }

  &__teamwarby {
    @include mqAbove($grid-breakpoint-tablet) {
      transform: translateY(-100%);
      margin-bottom: -120px;
    }
  }
}
