@import 'src/css/mixins';

.c-killscreen.logo-enter {
  opacity: 0.01;
}

.c-killscreen.logo-enter.logo-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.c-killscreen {

  transform-style: preserve-3d;
  //static background image on mobile and tablet
  background-image: url("//i.warbycdn.com/v/c/assets/killscreen/image/background-mobile/0/da5fceb466.jpg");
  background-repeat: repeat;
  background-size: contain;

  @include mqAbove($grid-breakpoint-tablet) {
    background-image: url("//i.warbycdn.com/v/c/assets/killscreen/image/tablet-bg/0/2dce20d010.jpg");
  }

  //  CSS Parallax http://keithclark.co.uk/articles/practical-css-parallax/

  @include mqAbove($grid-breakpoint-desktop) {
    background-image: url("//i.warbycdn.com/v/c/assets/killscreen/image/background/1/6376eab44e.jpg");
    height: 0;
    padding-bottom: 300%;
    background-image: none;

    &__wrapper {
      transform-style: preserve-3d;
    }

    &__parallax {
      // One-off nesting to handle Firefox needing preserve-3d for children of 3d-transformed parents
      .u-template,
      .u-template__content,
      .u-template__main {
        transform-style: preserve-3d;
      }

      .c-header {
        z-index: 1;
      }

      perspective: 1px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      transform-style: preserve-3d;
    }

    &__parallax-layer-base {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(0);
      transform-style: preserve-3d;
    }

    &__parallax-layer-back {
      height: 0;
      padding-bottom: 230%;
      position: absolute;
      top: 200px;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("//i.warbycdn.com/v/c/assets/killscreen/image/test-background/0/45c636d7a7.jpg");
      background-repeat: repeat;
      transform: translateZ(-1px) scale(2);
      transform-style: preserve-3d;
    }
  }

  @include mqAbove(1000px) {
    padding-bottom: 270%;

    &__parallax-layer-back {
      padding-bottom: 210%;
    }
  }

  @include mqAbove(1200px) {
    padding-bottom: 250%;

    &__parallax-layer-back {
      padding-bottom: 180%;
    }
  }

  @include mqAbove(1600px) {
    padding-bottom: 240%;

    &__parallax-layer-back {
      padding-bottom: 170%;
    }
  }

}
