@import 'src/css/mixins';

.c-layout-appointment {

  &__footer {
    max-width: 520px;
    border-top: 1px solid color('dark-gray-alt-2');

    @include mqAbove($grid-breakpoint-tablet) {
      max-width: 960px;
    }
  }
}
