@import 'src/css/mixins';

.c-countdown {
  &__head-text {
    &__em {
      font-style: normal;
      max-width: 100px;
    }
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    margin-top: 0;
    margin-bottom: 0;
    @include mqAbove($grid-breakpoint-desktop) {
      font-size: 94px;
    }
  }

  &__sub-text {
    max-width: 600px;
    letter-spacing: 1.25px;
    margin: 0 auto;
    &__em {
      color: white;
      font-style: normal;
      font-weight: 600;
    }
  }

  &__fixed-size {
    width: 300px;
    @include mqAbove($grid-breakpoint-desktop) {
        width: 640px;
    }
  }
}
