@import 'src/css/mixins';

.c-strength-selector {
  padding: 2px;
  border: 1px solid color('light-gray');
  width: 100%;
  border-collapse: collapse;
}

.c-strength-selector__strength {
  position: relative;
  display: table-cell;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  margin-bottom: 4px;
  border-left: 1px solid color('light-gray');
  border-top: 1px solid color('light-gray');

  &:hover:not(.-disabled) {
    border: 1px solid color('dark-gray-alt-3');
  }
}

.c-strength-selector__label {

  .c-strength-selector__input:checked + & {
    background: color('white');
    color: color('dark-gray');
    box-shadow: inset 0 0 0 1px color('dark-gray-alt-3');
  }

  &.-active,
  .c-strength-selector__input:disabled + & {
    background: color('light-gray-alt-2');
    color: color('light-gray');
  }

  .c-strength-selector__input:not(:disabled) + & {
    cursor: pointer;
  }
}
