@import 'src/css/mixins';

.c-header {
  background: transparent;
  z-index: $z-index-header;
  transition: {
    property: background-color;
    duration: $transition-duration-default;
    timing-function: $transition-timing-function-default;
  }

  &,
  &__container {
    height: $navigation-mobile-height;

    @include mqAbove($grid-breakpoint-desktop) {
      height: $navigation-tablet-height;
    }
  }

  // Overlap hero
  &.-overlap {
    background-color: transparent;
    margin-bottom: -$navigation-mobile-height;

    @include mqAbove($grid-breakpoint-desktop) {
      margin-bottom: -$navigation-tablet-height;

      &:hover,
      &.-expanded {
        background-color: color('white');
      }
    }
  }

  &__menu-trigger {
    padding: 13px 6px;
  }

  &__logo {
    width: 151px;
    max-height: $navigation-tablet-height;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);

    @include mqAbove($grid-breakpoint-desktop) {
      width: 231px;
      top: -2px;
      left: auto;
      padding: 22.5px 24px 22.5px 12px;
      transform: none;
    }

    &:focus {
      outline: none;
    }
  }
}
