@import 'src/css/mixins';

.c-glossary-callout {

  &__copy-container {
    width: 75%;
    max-width: 400px;

    .c-markdown__h1 {
      em {
        font-size: 18px;
        position: relative;
        top: -5px;
        font-weight: 100;
        margin: 0 5px;
      }
    }

    .c-markdown__p {
      margin: 0 auto;

      @include mqNav('tablet') {
        font-size: 18px;
      }
    }
  }

  &__bg-color-wrapper {
    @include mqNav('tablet') {
      background-color: #A7BCC4;
    }
  }


}
