@import 'src/css/mixins';

.c-footer {

  .c-formgroup-error.-v2 {
    margin: 0;
  }

  &__main-content-container, &__utility {
    max-width: 1440px;
  }

  &__link-column:last-child > &__category {
    border: none;
  }

  &__category-link-list {
    list-style: none;
  }

  &__link-list-item:last-child > a {
    @include mqAbove($grid-breakpoint-tablet) {
      margin-bottom: 0;
    }
  }

  &__link-list-item:nth-child(2n) {
    padding: 0;
  }

  &__link:hover {
    color: color('dark-gray');
  }

  @include mqAbove($grid-breakpoint-tablet) {
    &__category + &__category {
      margin-top: 34px;
    }
  }

  @include mqAbove($min-width-desktop-large) {
    &__link-list-container {
      flex: 6.6;
      padding-right: 3%;
    }

    &__help {
      flex: 3.3;
      padding-left: 3%;
    }

    &__country-social-container {
      flex: 1.5;
    }
  }
}
