.c-customer-center-container {
  &__contents {
    margin: 0 auto;

    &.-form {
      max-width: 348px;
    }

    &.-form-large {
      max-width: 500px;
    }
  }

  &__header-img {
    height: 100px;
    margin: 50px 0;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
