@import 'src/css/mixins';

.u-color-winter-2016--blue {
  color: #14307C;
}

.u-color-winter-2016--blue-alt {
  color: #1D47EF;
}

.u-color-winter-2016--blue-alt-2 {
  color: #122454;
}

.u-color-bg--winter-2016 {
  background-color: #1D223D;
}

.u-lh46--900 {
  @include mqAbove($grid-breakpoint-desktop) {
    line-height: 46px;
  }
}

.c-winter-2016-link {
  color: #1D47EF;

  border-bottom: 2px solid #1D47EF;
  padding-bottom: 6px;

  @include mqAbove($grid-breakpoint-desktop) {
    transition: all 0.1s;
    border-bottom: 0;
    &:hover {
      color: #1D47EF;
      border-bottom: 2px solid #1D47EF;
    }
  }
}

.c-winter-2016-hto-icon {
  @include mqAbove($grid-breakpoint-desktop) {
    width: 2.5%;
  }
}

.c-winter-2016-body-copy {
  line-height: 34px;

  @include mqAbove($grid-breakpoint-desktop) {
    line-height: 46px;
  }
}

.c-winter-2016-flake {
  width: 6%;

  @include mqAbove($grid-breakpoint-tablet) {
    width: 3%;
  }
  @include mqAbove($grid-breakpoint-desktop) {
    width: 2%;
  }
}
