@import 'src/css/mixins';

.c-calendar-fieldset {

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: map-get($c-calendar-translate, 'center');

    &.-spacer {
      opacity: 0;
      position: relative;
    }

    &.-offscreen {

      &-enter,
      &-backward-enter,
      &-leave,
      &-backward-leave {
        transition: {
          property: transform, opacity;
          duration: $transition-duration-default;
          timing-function: $transition-timing-function-default;
        }
      }

      &-enter {
        opacity: 0;
        transform: map-get($c-calendar-translate, 'top');

        &-active {
          opacity: 1;
          transform: map-get($c-calendar-translate, 'center');
        }
      }

      &-backward-enter {
        opacity: 0;
        transform: map-get($c-calendar-translate, 'bottom');

        &-active {
          opacity: 1;
          transform: map-get($c-calendar-translate, 'center');
        }
      }

      &-leave {
        opacity: 1;
        transform: map-get($c-calendar-translate, 'center');

        &-active {
          opacity: 0;
          transform: map-get($c-calendar-translate, 'bottom');
        }
      }

      &-backward-leave {
        opacity: 1;
        transform: map-get($c-calendar-translate, 'center');

        &-active {
          opacity: 0;
          transform: map-get($c-calendar-translate, 'top');
        }
      }
    }
  }

  &__header,
  &__date {
    @include typeCaptionBody;
    height: 0;
    position: relative;
    width: (1 / 7) * 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-weight: $font-weight-semibold;
    user-select: none;

    @include mqAbove($min-width-tablet-small) {
      @include typeBody;
    }
  }

  &__header {
    letter-spacing: 2px;
    padding-bottom: (60 / 7) * 1%;
    color: color('dark-gray-alt-2');
    margin-bottom: 0;
  }

  &__date {
    cursor: pointer;
    padding-bottom: (84 / 7) * 1%;
    color: color('dark-gray-alt-2');

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      box-shadow: inset 0 0 0 1px color('white');
      background-color: color('dark-gray-alt-2', 0.25);
      border-radius: 1px;
      transition: {
        property: background-color, box-shadow;
        duration: $transition-duration-fast;
        timing-function: $transition-timing-function-default;
      }
    }


    &.-current-month {
      color: color('dark-gray');

      &::before {
        background-color: color('light-gray-alt-1', 0.4);
      }
    }

    &.-today::before {
      box-shadow: inset 0 0 0 1px color('light-gray');
    }

    &:hover::before {
      box-shadow: inset 0 0 0 1px color('dark-gray');
    }
  }

  &__day {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__radio:checked + &__date {
    outline: 0;

    &::before {
      background-color: color('white');
      box-shadow: inset 0 0 0 1px color('blue');
    }
  }

  &__radio[disabled] + &__date {

    color: color('dark-gray-alt-2', 0.7);
    cursor: auto;

    &:hover::before {
      box-shadow: inset 0 0 0 1px color('white');
    }
  }

  &__heading {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: color('light-gray-alt-1', 0.4);
  }

  &__months {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 76%; // 6 rows
  }

  &__month {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.-fade {
      @include animationTransitionFade($transition-duration-default, 0s);
    }
  }

  &__arrow {
    width: 20px;
  }

  &__button {
    position: absolute;
    fill: color('blue');
    top: 50%;

    &:hover,
    &:focus {
      outline: 0;
      fill: color('blue-shadow');
    }

    &--prev {
      left: 12px;
      transform: translateY(-50%) rotate(90deg);
    }

    &--next {
      right: 12px;
      transform: translateY(-50%) rotate(-90deg);
    }

    &[disabled] {
      fill: color('light-gray');
    }
  }
}
