@import 'src/css/mixins';

.c-light-responsive-hero {
  &__down-arrow {
    stroke: color('blue');
    stroke-width: 1.5;
    fill: none;
    fill-rule: evenodd;
    stroke-linecap: round;
  }

  &__link-container {
    max-width: 340px;
  }
}
