@import 'src/css/mixins';

.c-welcome-back-hto__close-button {
  // Fix the close button at the edge of the maxed grid
  @include mqAbove($grid-max-width + 24px) {
    transform: translateX(-50%);
    left: 50%;
    margin-left: $grid-max-width / 2;
  }
}

.c-welcome-back-hto__text {
  @include mqAbove($grid-breakpoint-desktop) {
    max-width: 336px;
  }
}

.c-welcome-back-hto__greeting {
  letter-spacing: 3px;
}

.c-welcome-back-hto__cta {
  min-width: 220px;

  @include mqAbove($min-width-tablet) {
    @include typeBody;
  }
}

.c-welcome-back-hto__frames {
  @include mqAbove($grid-breakpoint-desktop) {
    padding-top: 175px;
  }
}

.c-welcome-back-hto__buyable-frame {
  max-width: 450px;

  @include mqAbove($grid-breakpoint-desktop) {
    max-width: none;
  }
}
