@import 'src/css/mixins';

// Unit-less `line-height` for use in media callout.

$media-callout-line-height: 16/24;

.c-media-callout {
  display: block;
  line-height: $media-callout-line-height;
  border-top: 1px solid #979797;
  margin-bottom: 0;
  padding: 0;
  max-width: 100%;

  &.-not-touch {
    @include mqAbove($min-width-desktop) {
      border-top: 0;
      margin-bottom: $rem-base * $media-callout-line-height;
      padding: 4px;
      opacity: 0.25;
      transition: opacity $transition-duration-default;

      &.-active {
        opacity: 1;
      }
    }
  }
}

.c-media-callout__media {
  width: 44%;
  position: relative;

  @include mqAbove(720px) {
    width: 296px;
  }

  &.-not-touch {
    @include mqAbove($min-width-desktop) {
      max-width: 100%;
      width: auto;
      transition: opacity $transition-duration-default;
      padding: 4px;
      display: inline-block;
    }
  }
}

.c-media-callout__image {
  display: block;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &.-not-touch {
    @include mqAbove($min-width-desktop) {
      display: inline-block;
    }
  }

  &.-add-padding {
    margin: 18px 0;
  }
}

.c-media-callout__caption {
  color: color('black');
  padding: 0 15px;

  @include mqAbove(720px) {
    padding: 0 30px;
  }

  &.-not-touch {
    @include mqAbove($min-width-desktop) {
      padding: 4px;
    }
  }
}

.c-media-callout__headline {
  @include fontStyle(12, 17, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 14px;
  color: color('black');

  @include mqAbove(500px) {
    @include fontStyle(14, 20, 5);
  }

  @include mqAbove(720px) {
    @include fontStyle(16, 21, 5);
    padding-top: 25px;
  }

  &.-not-touch {
    @include mqAbove($min-width-desktop) {
      @include fontStyle(18, 23, 5);
      padding-top: 14px;
    }
  }
}

.c-media-callout__body {
  float: left;
  width: 48%;
  padding: 5px 0 0;

  @include mqAbove($min-width-tablet) {
    float: none;
    width: 100%;
    padding-top: 12px;
  }

  &.-not-touch {
    @include mqAbove($min-width-desktop) {
      padding: 0;
    }
  }

  &__p {
    font-size: 11px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 1.05rem;

    @include mqAbove(500px) {
      font-size: 14px;
      line-height: 17px;
    }

    @include mqAbove(720px) {
      font-size: 17px;
      line-height: 20px;
    }
  }
}
