@import "src/css/mixins";

.c-archive {
  &__frame-css-modifier-image-wrapper {
    padding-bottom: 42%;
  }

  &__title {
    color: #0e0431;
    letter-spacing: 2px;
    @include mqAbove($grid-breakpoint-tablet) {
      letter-spacing: 2.5px;
    }
  }

  &__product-highlight-transition-wrapper {
    &-enter {
      opacity: 0.1;
    }
    &-enter-active {
      opacity: 1;
      transition: opacity 1200ms;
    }
    &-leave {
      opacity: 1;
    }
    &-leave-active {
      opacity: 0.01;
      transition: opacity 1200ms;
    }
  }
  &__product-highlight-feature {
    cursor: pointer;
    transition: all 0.5s;
    color: gray;

    &.-bold {
      color: black;
    }
  }

  &__product-highlight-title {
    letter-spacing: 2.5px;
  }

  &__product-highlight-mobile-title {
    z-index: 2000;
    letter-spacing: 2px;
  }

  &__product-highlight-transition-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 175%;

    @include mqAbove($grid-breakpoint-tablet) {
      padding-bottom: 53%;
    }
  }

  &__product-highlight-feature-wrapper {
    @include mqAbove($grid-breakpoint-desktop) {
      width: 23%;
    }
  }

  &__product-highlight-feature-list {
    z-index: 2000;
    top: 67%;
    width: 100%;

    @include mqAbove($grid-breakpoint-tablet) {
      left: 5%;
      top: 50%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      left: 10%;
    }
  }

  &__footer-wrapper {
    background-color: #f5f4f1;
  }

  &__hero-divider {
    background-color: #d7eff9;
    width: 50%;
    height: 3px;
    @include mqAbove($grid-breakpoint-tablet) {
      width: 25%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      width: 15%;
    }
  }

  &__dot {
    width: 11px;
    height: 11px;
    display: inline-block;
    margin: 0 4.5px;
    border: 1px solid black;
    border-radius: 50%;

    &.-active {
      background-color: black;
    }
  }

  &__link {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    color: black;
    &:active,
    &:visited,
    &:focus {
      color: black;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      border-bottom: 2px solid white;
      padding-bottom: 4px;
      &:hover {
        color: black;
        border-bottom-color: black;
      }
    }
  }
  &__link + &__link {
    margin-left: 22px;
  }
}
