@import 'src/css/mixins';

.c-prescription-how-to-hero {

  &__popout {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__takeover {
    background: color('dark-gray', 0.95);
  }

  &__hero-content {
    @include mqAbove($grid-breakpoint-tablet) {
      max-width: 360px;
    }
  }

}
