@import 'src/css/mixins';

.c-frame-favorite-login-modal {
  background-color: color('white');
  border: 1px solid color('light-gray');
  max-width: 605px;
  width: 98%;

  &__close {
    top: 20px;
    right: 20px;

    &:focus {
      outline: none;

      .u-icon {
        fill: color('dark-gray-alt-2');
      }
    }
  }

  &__animation-container {
    width: 93px;
    height: 86px;

    @include mqAbove($min-width-tablet) {
      width: 142px;
      height: 131px;
    }
  }

  &__animation {
    animation: {
      name: favorite-heart-glasses;
      duration: 1.65s;
      timing-function: steps(21);
      iteration-count: infinite;
      direction: alternate-reverse;
    }
  }

  &__cta-button {
    min-width: 0;
  }
}

@keyframes favorite-heart-glasses {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}
