@import 'src/css/mixins';

.c-sculpted-series {
  &__hero-header-desktop {
    letter-spacing: 11px;
    font-size: 36px;
    line-height: 35px;
  }

  &__hero-body-tablet-wrapper {
    @include mqAbove($grid-breakpoint-tablet) {
      padding-top: 160px;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      padding-top: 120px;
    }
  }

  &__hero-header {
    letter-spacing: 8px;
    line-height: 43px;
    font-size: 34px;
  }
  &__divider {
    padding-top: 3%;
  }

  &__hero-frame-name {
    bottom: 17%;
    left: 72%;
    color: black;

    @include mqAbove($grid-breakpoint-tablet) {
      bottom: 13%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      bottom: 17%;
      left: 61%;
    }

    @include mqAbove($grid-breakpoint-desktop-large) {
      bottom: 21%;
    }

    @include mqAbove(1300px) {
      top: 490px;
    }
  }

  &__hero-wrapper {
    height: 800px;

    @include mqAbove($grid-breakpoint-tablet) {
      background-color: #FAEADE;
      height: 320px;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      height: 475px;
    }
  }

  &__hero-copy-wrapper-mobile {
    background-color: #FAEADE;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__hero-copy-wrapper-desktop {
    transform: translate(25%, -32%);
    top: 50%;
    max-width: 430px;

    @include mqAbove($grid-breakpoint-desktop) {
      top: 37%;
    }
  }

  &__hero-top-image {
    width: 86%;
    top: 5%;
    left: 4%;

    @include mqAbove($grid-breakpoint-tablet) {
      top: 6%;
      left: 4%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      top: 4%;
      width: 69%;
      left: 5%;
    }
  }

  &__hero-bottom-image {
    width: 85%;
    left: 11%;

    @include mqAbove($grid-breakpoint-desktop) {
      width: 68%;
    }
  }

  &__hero-header-tablet {
    transform: translateX(50%);
    left: -12%;
    letter-spacing: 7px;
    width: 37%;
    top: 38%;
  }

  &__hero-image-wrapper {
    height: 0;
    padding-bottom: 107%;

    @include mqAbove($grid-breakpoint-tablet) {
      padding-bottom: 50%;
      width: 52%;
      left: 46%;
      top: 10%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      left: 47%;
      max-width: 620px;
    }
  }
}
.u-futura-book {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: color('black');
}

.u-futura-heavy {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: color('black');
}
.u-futura-light {
  font-family: futura-pt, sans-serif;
  font-weight: 100;
}

.u-futura-demi {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
}
