@import 'src/css/mixins';

.c-collection-core-hero {

  height: 0;
  //mobile heroes are usually delivered as one image with white masking for text, hence the weird
  //aspect ratio and padding-bottom
  padding-bottom: 200%;
  position: relative;

  @include mqAbove(640px) {
    padding-bottom: 60%;
  }

  &__logo-wrapper {
    width: 40%;
  }

  &__hero-wrapper {
    position: absolute;
    top: 25%;
    left: -15%;

  }

  &__static-hero-wrapper {
    width: 100%;
  }

  &__pdp-link-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content-wrapper {
    margin: 0 auto;
    width: 50%;
  }

  // styles for copy and text appearing on static heroes (mobile and tablet)

  &__static-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__static-copy {
    margin: 10px 0 10px 0;
  }

  &__static-logo-wrapper {
    width: 50%;
  }

  &__children-wrapper {
    opacity: 0.01;
    transition: {
      property: opacity;
      duration: 0.3s;
      delay: 0.5s;
    }

    &.-show{
      opacity: 1;
    }
  }
}
