@import 'src/css/mixins';

.c-eyesun-frame-types__bullet {

  padding-left: 18px;

  &:before {
    content: "";
    width: 4px;
    height: 4px;
    background: color('dark-gray-alt-2');
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 9px;
    left: 5px;

    @include mqAbove($grid-breakpoint-desktop) {
      top: 11px;
      left: 0;
    }
  }
}
