@import 'src/css/mixins';


.c-gift-guide {

  &__footer {
    // This keeps the footer extra tall on mobile.
    padding-bottom: 180%;
    background-color: #f8efeb;

    @include mqAbove($grid-breakpoint-tablet) {
      height: auto;
      padding-bottom: 0;
    }
  }

  &__footer-copy-wrapper {
    // This floats the copy around some imagery.
    @include mqAbove($grid-breakpoint-tablet) {
      left: 53%;
    }
  }

  &__link {
    color: #1D47EF;

    border-bottom: 2px solid #1D47EF;
    padding-bottom: 6px;

    @include mqAbove($grid-breakpoint-desktop) {
      transition: all 0.1s;
      border-bottom: 0;
      &:hover {
        color: #1D47EF;
        border-bottom: 2px solid #1D47EF;
      }
    }
  }

  &__link + &__link {
    margin-left: 12px;
  }

  &__first-hero {

    margin-top: -36px;

    @include mqAbove($grid-breakpoint-tablet) {
      margin-top: -60px
    }

    @include mqAbove($grid-breakpoint-desktop-large) {
      margin-top: -115px
    }

  }

}
