@import 'src/css/mixins';

.c-banner-with-cta {
  margin: 0 auto 12px;
  border: color('light-gray-alt-1') 1px solid;
  background-color: color('white');
  display: block;
  width: 100%;
  max-width: 500px;

  @include mqAbove($min-width-tablet) {
    max-width: inherit;
  }

}

.c-banner-with-cta__content {
  padding: 16px;
  position: relative;
  width: 100%;
}

.c-banner-with-cta__cta {
  @include buttonSmall;
  margin: 10px auto;
  padding: 0 20px;
  border: solid 1px color('blue');

  @include mqAbove($grid-breakpoint-desktop) {
    min-width: 125px;
    width: auto;
    margin: 0;
    position: absolute;
    right: 16px;
    height: 44px;
  }

  &:hover {
    border: solid 1px color('blue-highlight');
  }
}

.c-banner-with-cta__headline,
.c-banner-with-cta__description {
  display: block;
  text-align: center;

  @include mqAbove($grid-breakpoint-desktop) {
    text-align: left;
  }
}
