@import 'src/css/mixins';

.c-resort {

  $resort-font: 'utopia-std-display';

  &__label-wrapper {
    &.-final {
      display: none;
      @include mqAbove($grid-breakpoint-tablet) {
        display: block;
      }
    }
  }

  &__label {
    @include mqAbove($grid-breakpoint-desktop) {
      transition: all 0.1s;
      &:hover {
        color: color('white');
        border-bottom: 1px solid color('white');
      }
      &:active {
        color: color('white');
      }
    }
  }

  &__label + &__label {
    margin-left: 8px;
  }

  &__frame-color-modifier {
    font-size: 18px;
    font-style: normal;
  }

  &__frame-name-modifier {
    font-size: 18px;
  }

  &__shop-link-modifier {
    color: color('dark-gray');
    border-color: color('dark-gray');
    border-bottom-width: 1px;

    @include mqAbove($grid-breakpoint-desktop) {
      border-bottom-width: 0;
      transition: all 0.1s;
      &:hover {
        color: color('dark-gray');
        border-bottom: 1px solid color('dark-gray');
      }
    }
  }

  &__css-modifier-carousel-block {
    @include mqAbove($grid-breakpoint-desktop) {
      margin-bottom: 72px;
    }
  }

  &__copy {
    // Custom font and line heights per collection spec
    font-family: $resort-font;
    line-height: 30px;
    font-size: 20px;

    @include mqAbove($grid-breakpoint-desktop) {
      line-height: 36px;
      font-size: 24px;
    }

  }

  &__copy-top {
    max-width: 1000px;
  }

}
