@import 'src/css/mixins';

.c-gift-card--holiday-2016 {
  $color-holiday-2016: #3B3074;
  $img-src: 'https://i.warbycdn.com/v/c/assets/gift-guide/image/';
  $img-present: $img-src + 'mini-present/0/c987fb4a52/6220.png';
  $img-balloon: $img-src + 'mini-balloon/0/8de90064bd/f8b0.png';
  $img-trees: $img-src + 'mini-trees/0/3af63552a5/d576.png';
  $img-house: $img-src + 'mini-house/0/e211654408/5500.png';
  $img-mountain: $img-src + 'mini-mountain/0/e92d97a775/f3d1.png';
  $img-family: $img-src + 'mini-family/0/21929ebd51/5257.png';

  .c-cta {
    // Purple CTAS
    background-color: $color-holiday-2016;
    border-color: $color-holiday-2016;
    color: color('white');

    &:hover,
    &:focus,
    &:active {
      background-color: darken($color-holiday-2016, 0.75);
      border-color: $color-holiday-2016;
    }

    &:focus {
      box-shadow: 0 0 0 1px #fff,0 0 0 2px $color-holiday-2016;
    }
  }

  .c-gift-card-hero__modal:hover,
  .c-gift-card-step__headline,
  .c-gift-card-hero__title {
    color: $color-holiday-2016;
  }

  .c-calendar-fieldset__button:not([disabled]) {
    fill: $color-holiday-2016;
  }

  .c-gift-card-radio-group__input:checked + label {
    border-color: $color-holiday-2016;
  }

  .c-gift-card-step {
    background-repeat: no-repeat;
  }

  .c-gift-card-step__label {
    color: color('dark-gray');
  }

  .c-gift-card-step__content {
    @include mqAbove($grid-breakpoint-tablet) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .c-gift-card-hero {
    display: block;

    @include mqAbove($grid-breakpoint-tablet) {
      display: table;
    }
  }

  .c-gift-card-hero__image {
    margin-top: 0;
    margin-bottom: 0;

    @include mqAbove($grid-breakpoint-tablet) {
      margin-top: 24px;
    }
  }

  .c-gift-card-hero__description {
    margin-bottom: 12px;

    @include mqAbove($grid-breakpoint-tablet) {
      margin-bottom: 24px;
    }
  }

  .c-gift-card-hero__img {
    width: 100%;

    @include mqAbove($grid-breakpoint-tablet) {
      width: auto;
    }
  }


  .c-gift-card-step.-radio-group--type .c-gift-card-step__label {
    padding-top: 64px;
    background: {
      image: url($img-present);
      position: center top;
      size: 52px;
      repeat: no-repeat;
    }

    @include mqAbove($min-width-tablet) {
      background-size: 122px;
      padding-top: 140px;
    }
  }

  .c-gift-card-step.-radio-group--amount-cents {
    background: {
      image: url($img-balloon);
      position: calc(100% - 18px) 18px;
      size: 49px;
    }

    @include mqAbove($min-width-tablet) {
      padding-top: 200px;
      padding-bottom: 200px;
      background: {
        image: url($img-balloon), url($img-trees);
        position: 90% 10%, center calc(100% - 50px);
        size: 132px, 121px;
      }
    }
  }

  .c-gift-card-step.-calendar--delivery-date {
    background: {
      image: url($img-house);
      position: 18px 18px;
      size: 42px;
    }

    @include mqAbove($min-width-tablet) {
      padding-top: 50px;
      background: {
        image: url($img-house), url($img-mountain);
        position: 3% 3%, calc(100% - 50px) bottom;
        size: 121px, 188px;
      }
    }
  }

  .c-gift-card-step.-form--form {
    background: {
      image: url($img-mountain), url($img-family);
      repeat: no-repeat;
      position: 10% calc(100% - 10px), 10% bottom;
      size: 86px, 79px;
    }

    @include mqAbove($min-width-tablet) {
      padding-top: 50px;
      padding-bottom: 100px;
      background: {
        image: url($img-family);
        repeat: no-repeat;
        position: 3% bottom;
        size: 167px;
      }
    }
  }
}


