@import 'src/css/mixins';

.c-collections-shop-links__link {

  @include mqBelow($min-width-tablet-small + 1) {
    display: block;
    width: 100%;
    max-width: none;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;

    &.-cta-inline ~ &.-cta-inline {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
