.c-totals-table {
  width: 200px;
  margin-bottom: 24px;

  &.-full-width {
    width: 100%;
  }
}

.c-totals-table__header {
  text-align: left;
  padding-right: 12px;
}

.c-totals-table__cell {
  text-align: right;
  padding-left: 12px;
}
