@import 'src/css/mixins';

.c-collection-core-callout {
  width: 98.5%;
  margin: 0 auto 30px auto;
  position: relative;

  border: {
    width: 1px 0;
    style: solid;
    color: color('light-gray');
  }

  &__markdown-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__divider {
    height: 25px;
    background-color: green;
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
  }


  &__picture-wrapper {
    width: 100%;
  }

  &__pdp-link-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__frame-name {
    font-size: 16px;

    @include mqAbove(960px) {
      @include typeSectionHeadline;
    }
  }

  &__frame-color {
    font-size: 12px;

    @include mqAbove(960px) {
      @include typeCaptionHeadline;
    }
  }

}
