@import 'src/css/mixins';

.c-editable-address {
  position: relative;
  padding-bottom: 48px;
  margin-bottom: 48px;
}

.c-editable-address__default-label {
  color: color('blue');
  display: block;

  &.-caption-headline.-margin-bottom {
    margin-bottom: 32px;
  }
}

.c-editable-address__actions {
  position: absolute;
  bottom: 0;
  left: 0;
}
