@import 'src/css/mixins';

.c-quiz-landing {
  $quiz-landing-color-bg: #c4c9cc;

  background: $quiz-landing-color-bg;

  &__container {
    min-height: 100vh;
  }

  &__content {
    max-width: 576px;
  }

  &__cta {
    width: 216px;
  }
}
