@import 'src/css/mixins';

.c-discount-code-saved {
  border-bottom: 1px solid color('light-gray');

  &:last-child {
    border: 0;
  }

  &__button {
    right: 0;
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 12px;
    transition: $transition-duration-fast;

    &:focus {
      box-shadow: 0 0 0 1px color('white'), 0 0 0 2px color('light-gray');
      outline: none;
    }

    &:hover {
      background-color: color('light-gray-alt-1');
    }
  }

  &__x {
    width: 8px;
    height: 8px;
  }
}
