@import 'src/css/mixins';

.c-product-add-to-cart {
  @include mqAbove($grid-breakpoint-tablet) {
    &__quantity-select {
      width: 78px;
    }

    &__button-container {
      width: 220px;
    }
  }

  &__button {
    // Override width: auto from .u-button.
    width: 100%;
  }
}
