@import 'src/css/mixins';

.c-quick-add-button__button {
  &:focus {
    outline: none;

    .u-icon {
      stroke: color('dark-gray-alt-3');

      &.-checked {
        stroke: color('blue-shadow');
      }
    }
  }
}
