@import 'src/css/mixins';

.c-collections-summer-2016-gallery {

  &__logo {
    width: 25%;
  }

  &__right-arrow {

    width: 9px;
    margin-top: 5px;

    @include mqAbove($grid-breakpoint-tablet) {
      margin-top: 5px;
      width: 8px;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      width: 12px;
      margin-top: 8px;
    }

  }

  &__hero-link {
    @include mqAbove($grid-breakpoint-desktop) {
      &:hover {
        color: color('blue');
        border-bottom: 2px solid color('blue');
      }
    }
  }

  &__gallery-link {

    font-size: 15px;
    font-family: "filson-pro";
    letter-spacing: 2px;
    font-weight: 900;
    color: color('black');
    @include mqAbove($grid-breakpoint-desktop) {
      font-size: 24px;
      &:hover {
        color: color('dark-gray');
        fill: color('dark-gray');
      }
    }
  }

  &__hto-header {

    font-size: 15px;
    font-family: "filson-pro";
    letter-spacing: 2px;
    font-weight: 900;
    color: color('black');
    @include mqAbove($grid-breakpoint-desktop) {
      font-size: 24px;
    }
  }

  &__cta-links {
    width: 105px;
    min-width: 0;
    padding: 0;
    border-radius: 1px;
    box-shadow: none;
    border-color: color('dark-gray-alt-2');

    &:hover {
      border-color: color('dark-gray');
    }

    @include mqAbove($grid-breakpoint-desktop) {
      width: 125px;
    }
  }

  &__hero-background {
    border-bottom-width: 8px;
    border-bottom-style: solid;

    @include mqAbove($grid-breakpoint-desktop) {
      border-bottom-width: 10px;
    }

    &.-blue-hide-desktop {
      border-bottom-color: $collection-summer-2016-color-blue;
    }

    &.-blue {
      border-bottom-color: $collection-summer-2016-color-blue;
    }

    &.-orange {
      border-bottom-color: $collection-summer-2016-color-orange;
    }

    &.-pink {
      border-bottom-color: $collection-summer-2016-color-pink;
    }

    @include mqAbove($grid-breakpoint-desktop-large) {
      border: 0;
    }
  }

  &__hero-header {
    font-weight: 900;
  }

  &__hero-copy-wrapper {

    @include mqAbove($grid-breakpoint-desktop-large) {
      border-bottom-width: 8px;
      border-bottom-style: solid;

      @include mqAbove($grid-breakpoint-desktop) {
        border-bottom-width: 10px;
      }

      &.-blue-hide-desktop {
        border-bottom-color: $collection-summer-2016-color-blue;
        @include mqAbove($grid-breakpoint-desktop) {
          border: 0;
        }
      }

      &.-blue {
        border-bottom-color: $collection-summer-2016-color-blue;
      }

      &.-orange {
        border-bottom-color: $collection-summer-2016-color-orange;
      }

      &.-pink {
        border-bottom-color: $collection-summer-2016-color-pink;
      }

    }
  }

}
