@import 'src/css/mixins';

.c-low-bridge-fit-carousel {

  &__slides {
    transition: {
      property: transform;
      duration: $transition-duration-default;
      timing-function: $transition-timing-function-default;
    }
  }

  &__label {

    &.-highlight {
      background-color: color('dark-gray');
    }

  }

  &__label {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &__slide {
    opacity: 0;
    transition: {
      property: opacity;
      duration: $transition-duration-default;
      timing-function: $transition-timing-function-default;
    }

    &.-highlight {
      opacity: 1;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      opacity: 1;
      transition: 0;
    }
  }

}
