@import 'src/css/mixins';

.c-eyesun-try-before-buy__link:hover {
  border-bottom-color: color('blue-highlight');
  color: color('blue-highlight');
}

.c-eyesun-try-before-buy__callout:first-child {
  padding-bottom: 36px;

  @include mqAbove($grid-breakpoint-tablet) {
    padding-bottom: 0;
  }
}
