@import 'src/css/mixins';

.c-pd-review {
    &__retake-photo,
    &__submit-photo {
        min-width: 48% !important;
    
        @include mqAbove($min-width-tablet) {
            min-width: 215px !important;
        }
    }

    &__checklist-item {
        list-style: none;
        padding-left: 20px;
        color: #677079;
        position: relative;

        &:before {
            content: "";
            line-height: 1em;
            width: 8px;
            position: absolute;
            left: -12px;
            height: 8px;
            background-color: #D8D8D8;
            float: left;
            margin: 0.5em 12px 0;
            border-radius: 50%;
        }
    }
}
