@import 'src/css/mixins';

.c-modal-confirm__content {
  margin-bottom: 48px;
}

@include mqBelow($min-width-tablet) {
  .c-modal-confirm__buttons {
    text-align: center;
  }

  .c-modal-confirm__button-confirm,
  .c-modal-confirm__button-cancel {
    margin: 0 auto 12px;
  }
}
