@import 'src/css/mixins';

.c-insurance-drawer {
  max-height: 0px;
  transition: max-height 500ms linear;

  &__animated {
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 1px color('light-gray-alt-1') solid;  
      border-right: 1px color('light-gray-alt-1') solid;
      transform: translateY(-50%) rotate(45deg);
      top: 0;
      left: 50%;
      background-color: #fff;
    }
  }

  &.-open {
    max-height: 1000px;

    @include mqAbove($min-width-tablet) {
      max-height: 600px;
      margin-top: -12px;
    }
  }

  &__details {
    max-width: 400px;  // copy dependent
  }

  &__section:first-of-type {
    border-bottom: 1px color('light-gray-alt-1') solid;
    padding-bottom: 48px;
    @include mqAbove($min-width-tablet) {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}
