@import 'src/css/mixins';

.c-checkout-review {
  &__section {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__credit-card-icon {
    width: 42px;
    margin-right: 18px;
  }
}
