@import 'src/css/mixins';

$padding: 20px;
$padding-left: 40px;
$indicator-size: 8px;

.c-radio-select {
  padding: $padding $padding $padding $padding-left;
  border: 1px solid color('light-gray');
  margin: 10px 0;

  &:hover {
    border-color: color('dark-gray-alt-2');
  }

  &__input {
    opacity: 0;
    z-index: -1;
  }

  &__indicator {
    left: $padding-left / 2;
    top: $padding + ($indicator-size / 2);
    height: $indicator-size;
    width: $indicator-size;
    border-radius: 50%;
    user-select: none;
    transition: background-color $transition-duration-default ease-in-out;

    &.-selected {
      background: color('blue')
    }
  }

  &__heading-container {
    line-height: 1;
  }

  &__desc {
    width: 90%;

    @include mqAbove($min-width-tablet) {
      width: 80%;
    }

  }
}
