@import 'src/css/mixins';

.c-icon-circle {
  right: 20px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-top: 2px;
  background-color: transparent;
  transition: $transition-duration-fast ease-in-out;

  &.-valid {
    background-color: color('green');
    margin-top: 0;
  }

  &.-error {
    background-color: color('red-alt-2');
    margin-top: 0;
  }
}
