@import 'src/css/mixins';

.c-bapgap {
  @keyframes columns-trajectory-0 {
    0% {
      opacity: 0;
      transform: rotate(.001deg) translate3d(825px, 10px, 0)
    }
    5%, 95% {
      opacity: 0
    }
    6%, 94% {
      opacity: 1
    }
    to {
      opacity: 0;
      transform: rotate(.001deg) translate3d(-825px, 10px, 0)
    }
  }
  @keyframes columns-trajectory-600 {
    0% {
      opacity: 0;
      transform: rotate(.001deg) translate3d(1040px, 10px, 0)
    }
    5%, 95% {
      opacity: 0
    }
    6%, 94% {
      opacity: 1
    }
    to {
      opacity: 0;
      transform: rotate(.001deg) translate3d(-1040px, 10px, 0)
    }
  }
  @keyframes columns-trajectory-1000 {
    0% {
      opacity: 0;
      transform: rotate(.001deg) translate3d(1255px, 10px, 0)
    }
    5%, 95% {
      opacity: 0
    }
    6%, 94% {
      opacity: 1
    }
    to {
      opacity: 0;
      transform: rotate(.001deg) translate3d(-1255px, 10px, 0)
    }
  }
  @keyframes columns-trajectory-1400 {
    0% {
      opacity: 0;
      transform: rotate(.001deg) translate3d(1595px, 10px, 0)
    }
    5%, 95% {
      opacity: 0
    }
    6%, 94% {
      opacity: 1
    }
    to {
      opacity: 0;
      transform: rotate(.001deg) translate3d(-1595px, 10px, 0)
    }
  }
  @keyframes columns-trajectory-1800 {
    0% {
      opacity: 0;
      transform: rotate(.001deg) translate3d(1685px, 10px, 0)
    }
    5%, 95% {
      opacity: 0
    }
    6%, 94% {
      opacity: 1
    }
    to {
      opacity: 0;
      transform: rotate(.001deg) translate3d(-1685px, 10px, 0)
    }
  }

  .gallery {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 350px;

    @media (min-width:600px) {
      height: 424px;
    }
    @media (min-width:1000px) {
      height: 520px;
    }
    @media (min-width:1400px) {
      height: 656px;
    }
    @media (min-width:1800px) {
      height: 692px;
    }

    &__inner {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    &__column {
      position: absolute;
      top: 0;
      left: 50%;
      width: 160px;
      margin-left: -80px;
      transform-origin: center;
      animation: columns-trajectory-0 80s infinite;
      animation-timing-function: linear;
      will-change: transform;

      @media (min-width:600px) {
        width: 200px;
        margin-left: -100px;
        animation-name: columns-trajectory-600;
      }
      @media (min-width:720px) {
        animation-duration: 130s;
      }
      @media (min-width:960px) {
        animation-duration: 288s;
      }
      @media (min-width:1000px) {
        width: 240px;
        margin-left: -120px;
        animation-name: columns-trajectory-1000;
      }
      @media (min-width:1400px) {
        width: 300px;
        margin-left: -150px;
        animation-name: columns-trajectory-1400;
      }
      @media (min-width:1800px) {
        width: 320px;
        margin-left: -160px;
        animation-name: columns-trajectory-1800;
      }

      &:nth-child(1) {
        &.gallery__item:nth-child(1) {
          animation-delay: -13.57588s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -20.12718s;
        }
      }

      &:nth-child(2) {
        animation-delay: -71.11111s;

        @media (min-width:720px) {
          animation-delay: -115.55556s;
        }
        @media (min-width:960px) {
          animation-delay: -256s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -17.77754s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -26.00718s;
        }
      }

      &:nth-child(3) {
        animation-delay: -62.22222s;

        @media (min-width:720px) {
          animation-delay: -101.11111s;
        }
        @media (min-width:960px) {
          animation-delay: -224s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -26.11223s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -15.0295s;
        }
      }

      &:nth-child(4) {
        animation-delay: -53.33333s;

        @media (min-width:720px) {
          animation-delay: -86.66667s;
        }
        @media (min-width:960px) {
          animation-delay: -192s
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -3.00668s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -17.87344s;
        }
      }

      &:nth-child(5) {
        animation-delay: -44.44444s;

        @media (min-width:720px) {
          animation-delay: -72.22222s;
        }
        @media (min-width:960px) {
          animation-delay: -160s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -29.58232s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -3.08506s;
        }
      }

      &:nth-child(6) {
        animation-delay: -35.55556s;

        @media (min-width:720px) {
          animation-delay: -57.77778s;
        }
        @media (min-width:960px) {
          animation-delay: -128s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -.72988s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -6.0172s;
        }
      }

      &:nth-child(7) {
        animation-delay: -26.66667s;

        @media (min-width:720px) {
          animation-delay: -43.33333s;
        }
        @media (min-width:960px) {
          animation-delay: -96s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -4.83925s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -26.66215s;
        }
      }

      &:nth-child(8) {
        animation-delay: -17.77778s;

        @media (min-width:720px) {
          animation-delay: -28.88889s;
        }
        @media (min-width:960px) {
          animation-delay: -64s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -24.35714s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -6.14344s;
        }
      }

      &:nth-child(9) {
        animation-delay: -8.88889s;

        @media (min-width:720px) {
          animation-delay: -14.44444s;
        }
        @media (min-width:960px) {
          animation-delay: -32s;
        }

        &.gallery__item:nth-child(1) {
          animation-delay: -10.85416s;
        }
        &.gallery__item:nth-child(2) {
          animation-delay: -9.02863s;
        }
      }

      &:nth-child(n+10) {
        display: none;
      }
    }

    &__item {
      overflow: hidden;
      position: relative;
      width: 100%;
      background: #fff;
      background-size: cover;
      color: #fff;

      &:first-child {
        margin-bottom: 20px;

        @media (min-width:600px) {
          margin-bottom: 20px;
        }
        @media (min-width:1000px) {
          margin-bottom: 40px;
        }
        @media (min-width:1400px) {
          margin-bottom: 60px;
        }
        @media (min-width:1800px) {
          margin-bottom: 60px;
        }
      }
    }
  }
}
