@import 'src/css/mixins';

.c-frame-search__grid {
  margin: 0 auto;
  position: relative;
}

.c-frame-search__label {
  padding: 10px 0;

  @include mqAbove($grid-breakpoint-tablet) {
    padding: 120px 0 16px;
  }
}

.c-frame-search__input {
  @include typeSectionBody;
  width: calc(100% - 51px); //51px = width of the cancel button
  padding: 8px;

  &::placeholder {
    color: color('light-gray');
  }

  &:focus {
    outline: none;
  }

  @include mqAbove($grid-breakpoint-tablet) {
    @include typeHeadlineMedium;
    width: 100%;
    border: none;
    padding: 0;

    &::placeholder {
      @include typeHeadlineMedium;
      color: color('subtle-gray');
    }
  }
}

.c-frame-search__close {
  margin-left: 8px;

  @include mqAbove($grid-breakpoint-tablet) {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}


.c-frame-search__cancel {
  @include typeCaptionHeadline;
  color: $color-text;
  text-decoration: underline;

  &:hover {
    color: $color-text;
  }

  @include mqAbove($grid-breakpoint-tablet) {
    display: none;
  }
}

.c-frame-search__icon-x {
  display: none;

  @include mqAbove($grid-breakpoint-tablet) {
    display: block;
    width: 20px;
  }
}

.c-frame-search__divider {
  display: none;

  @include mqAbove($grid-breakpoint-tablet) {
    display: block;
    margin: 20px 0;
  }
}

.c-frame-search__results {
  padding-top: 6px;
}

.c-frame-search__message {
  padding-top: 1em;
}
