@import 'src/css/mixins';

.c-product-quantity-buttons {
  &__button,
  &__output {
    @include buttonGray;
    height: 40px;
  }

  &__button {
    // Override dark gray color from `buttonGray` above.
    color: color('blue');

    &.-left-button {
      border-radius: 5px 0 0 5px;
    }

    &.-right-button {
      border-radius: 0 5px 5px 0;
    }
  }

  &__icon {
    height: 14px;
    width: 14px;
  }

  &__output {
    // Override border width values from `buttonGray` above.
    border-left-width: 0;
    border-right-width: 0;
    line-height: 40px;
  }
}
