@import 'src/css/mixins';

.c-metal-hero {
  background-color: #eeeeee;
  padding-bottom: 175%;
  height: 0;

  @include mqAbove($grid-breakpoint-tablet) {
    padding-bottom: 105%;
  }

  @include mqAbove($grid-breakpoint-desktop) {
    height: auto;
    padding-bottom: 0;
    background-color: color('white');
  }

  &__copy {
    @include mqAbove($grid-breakpoint-desktop) {
      left: 3%;
    }
  }

}
