@import 'src/css/mixins';

.c-footer-help {
  max-width: 350px;

  &__list {
    list-style: none;
  }

  &__link:hover {
    color: color('dark-gray');
  }

  &__icon {
    width: 34px;
    height: 34px;
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
  }

  &__markdown__p {
    margin: 0 0 5px 0;
    line-height: 1.6;
  }
}
