@import 'src/css/mixins';

.c-welcome-back-cart__content {
  @include mqAbove($grid-breakpoint-tablet) {
    border: 1px solid color('light-gray');
  }
}

.c-welcome-back-cart__close-button {
  top: 18px;
  right: 18px;
}

.c-welcome-back-cart__headline {
  max-width: 10em;
}

.c-welcome-back-cart__subhead {
  max-width: 20em;
}

.c-welcome-back-cart__cta {
  min-width: 220px;

  @include mqAbove($min-width-tablet) {
    @include typeBody;
  }
}

.c-welcome-back-cart__images {
  max-width: 380px;
}

.c-welcome-back-cart__frame-image {
  $wb-image-transition: 0.25s;

  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translate3d(0, 8px, 0);
  transition:
    visibility 0s $wb-image-transition,
    opacity $wb-image-transition ease-in-out,
    transform $wb-image-transition ease-in-out;

  &.-active {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition:
      opacity $wb-image-transition $wb-image-transition ease-in-out,
      transform $wb-image-transition $wb-image-transition ease-in-out;
  }

  &:first-child {
    position: relative;
    display: block;
  }
}
