@import 'src/css/mixins';

.c-cart-footer {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 24px;
  text-align: center;
}

.c-cart-footer__subheading {
  margin-top: 48px;
  margin-bottom: 24px;
}

.c-cart-footer__top-content {
  margin-top: 48px;
}

.c-cart-footer__subtotal {
  margin-top: 12px;
  margin-bottom: 72px;
  text-align: center;

  @include mqAbove($min-width-tablet) {
    text-align: right;
  }
}

.c-cart-footer__cta {
  & ~ & {
    margin-left: 12px;
  }
}
