@import 'src/css/mixins';


.c-gift-guide-hero {

  z-index: 2;

  &__copy-wrapper {
    @include mqAbove($grid-breakpoint-desktop) {
      transform: translate(-50%, -15%);
    }
  }

  //  Guard against hero container collapsing while the hero loads.
  &__picture-wrapper {
    padding-bottom: 45%;

    @include mqAbove($grid-breakpoint-tablet) {
      padding-bottom: 65%;
    }

    @include mqAbove($grid-breakpoint-desktop) {
      padding-bottom: 42%;
    }

  }

}
