@import 'src/css/mixins';

.c-photo-upload {

  &__button {
    /*
     * These display modifiers are needed because of specificity conflicts
     * between the button and display utilities.
     */
    &.-show-desktop {
      display: none;

      @include mqAbove($min-width-desktop) {
        display: inline-block;
      }
    }

    &.-hide{
      display: none;
    }
  }

  &__form {
    /*
     * This display modifier is needed because of specificity conflicts
     * between the button and display utilities.
     */
    &.-show-mobile {
      @include mqAbove($min-width-desktop) {
        display: none;
      }
    }
  }
}
