@import 'src/css/mixins';

.c-customer-center-favorites {

  &__instructions {
    width: 90%;
    max-width: 430px;
    line-height: 1.5;
    margin-top: -20px;
  }

  &__category-container {
    max-width: 400px;

    @include mqAbove($min-width-tablet) {
      display: inline-block;
      padding: 10px 48px;

      &:first-child {
        border-right: 1px solid color('light-gray')
      }
    }
  }

  &__category {
    letter-spacing: 2.5px;
  }

  &__gender-links {
    margin: 0 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid color('blue');
  }

  &__favorite-item {
    max-width: 500px;
  }

  &__location-info {

    @include mqAbove($grid-breakpoint-desktop){
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid color('blue');
      }
    }
  }

  &__horizontal-row {
    border: {
      color: color('light-gray');
      width: 0 0 1px;
      style: solid;
    }
  }
}
