@import 'src/css/mixins';

.c-starter-kits {

  &__hero {
    z-index: -1;

    @include mqAbove($grid-breakpoint-tablet) {
      height: 400px;
    }
  }

  &__description {
    max-width: 280px;
  }
}
