@import 'src/css/mixins';

.c-quiz-frames {
  opacity: 1;
  transform: 0;
  transition: $transition-duration-default;

  &.-hidden {
    opacity: 0;
    transform: translateY(24px);
  }

  &__header-image {
    width: 100px;
  }

  &__subhead {
    max-width: 540px;
  }

  &__promo-header {
    max-width: 504px;
  }

  &__more-frames {
    &:focus {
      outline: none;
      color: color('blue-shadow');
    }
  }

  &__down-arrow {
    stroke-width: 2px;
    width: 12px;
  }

  &__link-button {
    &:focus {
      outline: none;
      color: color('blue-shadow');
    }
  }

  &__price-callout-header {
    max-width: 1000px;
  }
}
