@function width-callout($size) {
  @return map-get($c-callout-sizes, $size);
}

@function ratio-callout($dividend, $size) {
  @return percentage($dividend / width-callout($size));
}

@function strip-unit($value) {
  // Remove unit and return number.
  @return $value / ($value * 0 + 1);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return
      str-slice($string, 1, $index - 1) +
      $replace + str-replace(str-slice($string, $index +
      str-length($search)), $search, $replace);
  }

  @return $string;
}

@function pick($map, $keys) {
  // Pick individual keys from map.
  $output: ();
  @each $key in $keys {
    @if (map-has-key($map, $key)) {
      $value: map-get($map, $key);
      $output: map-merge($output, ($key: $value));
    }
  }
  @return $output;
}
