@import 'src/css/mixins';

.c-starter-kit-selector {
  $color-border: #abc4d0;

  height: 480px;

  @include mqAbove($grid-breakpoint-tablet) {
    height: 720px;
  }

  &__select {
    width: 5.6em;
    border-color: $color-border;
    stroke: $color-border;
    transition: border-color $transition-duration-fast;

    &.-wide {
      width: 7.5em;
      min-width: 300px;
    }

    &:focus {
      border-color: color('blue');
    }
  }

  @keyframes slide-in-sticky {
    from { transform: translate3d(0, -110%, 0); }
    to { transform: translate3d(0, 0, 0); }
  }

  &__sticky-header {
    z-index: 1;
    box-shadow: 0 2px 8px -3px color('black-10p');
    animation: {
      name: slide-in-sticky;
      duration: $transition-duration-default;
      timing-function: ease-out;
    }
  }
}
