@import 'src/css/mixins';

.c-gift-card-fieldset {

  &__note-field {
    min-height: 140px;
    margin: 12px 0 24px;
    padding: 12px;

    &::placeholder {
      color: color('light-gray');
      opacity: 1;
    }

    @include mqAbove($min-width-tablet-small) {
      padding: 12px 24px;
    }
  }

  &__max {
    position: absolute;
    right: 8px;
    bottom: 4px;
    color: color('light-gray');
    text-align: right;
    font-weight: $font-weight-light;
  }

  &__half {

    @include mqAbove($min-width-tablet-small) {
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 12px);

      & + & {
        margin-left: 24px;
      }
    }

  }

}
