@import 'src/css/mixins';

.c-locations-service-card {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 0 12px 24px;

  &:last-child {
    padding-bottom: 0;
  }

  @include mqAbove($grid-breakpoint-desktop) {
    margin: 0;
    display: inline-block;
    text-align: left;
  }

  &__image {
    margin: 0 auto 24px;
    display: block;
    max-height: 108px;
    max-width: 108px;

    @include mqAbove($grid-breakpoint-desktop) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
