@import 'src/css/mixins';

.c-sliding-drawer {
  max-height: 0px;
  transition: max-height 500ms ease-in-out;

  &__animated {
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-bottom: 1px color('light-gray-alt-1') solid;  
      border-right: 1px color('light-gray-alt-1') solid;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 0;
      left: 50%;
      background-color: color('white');
    }
  }

  &.-open {
    max-height: 1000px;

    @include mqAbove($min-width-tablet) {
      max-height: 600px;
    }
  }
}