@import 'src/css/mixins';

.c-icon {
  @include svg(26, 26, 'add-check');
}

.c-icon--add-check {
  &__circle,
  &__plus,
  &__check {
    transition: $transition-duration-fast ease-in-out;
  }

  &__plus,
  &__check {
    opacity: 0;

    &.-active {
      opacity: 1;
    }
  }

  &__check {
    transform: translateY(4px);

    &.-active {
      transition: $transition-duration-fast $transition-duration-fast ease-in-out;
      transform: translateY(0);
    }
  }
}
