@import 'src/css/mixins';

.c-step {
  background: none;
  border: 0;
  border-bottom: 1px color('light-gray') solid;
  color: color('dark-gray');
  cursor: pointer;
  display: block;
  padding: 24px 30px 24px 6px;
  position: relative;
  text-align: left;
  width: 100%;

  @include mqAbove($min-width-tablet) {
    border: 0;
    display: table-row;
    padding: 0;

    /* Hack for top border w/ table */
    &:first-child {
      .c-step__label,
      .c-step__description {
        border-top: 1px color('light-gray') solid;
      }
    }
  }

  &:hover {
    color: color('dark-gray');
  }

  &:first-child {
    border-top: 1px color('light-gray') solid;
  }
}

.c-step__arrow {
  @include mqBelow($min-width-tablet - 1) {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  @include mqAbove($min-width-tablet) {
    margin-left: -24px;
    margin-top: 3px;
  }
}

.c-step__label,
.c-step__description {
  cursor: pointer;
  display: block;

  @include mqAbove($min-width-tablet) {
    border-bottom: 1px color('light-gray') solid;
    display: table-cell;
    padding: 24px 48px 24px 6px;
    white-space: nowrap;
  }
}

.c-step__description {
  width: 100%;
}
