@import 'src/css/mixins';

.c-row-button {
  background: none;
  border: 0;
  border-bottom: 1px color('light-gray') solid;
  color: color('dark-gray');
  display: block;
  margin: 0 auto;
  padding: 24px 0;
  position: relative;
  text-align: left;
  max-width: 975px;

  &:first-child {
    border-top: 1px color('light-gray') solid;
  }

  &:hover {
    color: color('dark-gray');
  }

  &:first-child {
    border-top: 1px color('light-gray') solid;
  }
}

.c-row-button__arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.c-row-button__content {
  display: block;
  margin-left: 20px;
  width: 100%;
}
