@import "src/css/mixins";

.c-appointment-user {
  &__field-container {
    background-color: color("white");
  }

  &__body-button {
    &:hover,
    &:focus {
      color: $color-link-hover;
      outline: none;
    }
  }
}
