.c-product-cross-sells {
  // TODO: add non-flexbox fallback for IE <=9 (~0.75% of traffic)
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  clear: both;
  text-align: center;
}

.c-product-cross-sells__title-area {
  width: 100%;
  margin-bottom: 72px;
}
