@import 'src/css/mixins';

.c-tyler-oakley-hero {

  &__overlay {

    transition: {
      property: opacity;
      duration: 1s;
      timing-function: $transition-timing-function-default;
      delay: 1s;
    }

    &.-faded {
      opacity: 0.01;
    }
  }

  &__logo {
    z-index: 1;

    transition: {
      property: top;
      duration: 1s;
      timing-function: $transition-timing-function-default;
      delay: 1s;
    }

    &.-nudge {
      top: 15%;
    }
  }

}
