@import 'src/css/mixins';

.c-sizing-details {
  max-width: 660px;
  margin: 0;
  padding: 0;
  transition: background-color $transition-duration-default ease-in;

  @include mqAbove($grid-breakpoint-desktop) {
    max-width: none;
  }

  &__value {

    & + & {
      @include mqAbove($grid-breakpoint-tablet) {
        &::before {
          content: '';
          display: inline-block;
          position: relative;
          top: 1px;
          margin: 0 12px;
          width: 1px;
          height: 13px;
          background: color('dark-gray-alt-2');
        }
      }

      @include mqAbove($grid-breakpoint-desktop) {
        &::before {
          display: none;
        }
      }
    }
  }

  &__thumbnail {
    width: 46px;
  }

  &__staffButton {
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
  }
}
