@import 'src/css/mixins';

.c-line-item {

  &.c-line-item--cart {
    padding: 48px 8px 24px;
    border-bottom: 3px solid $color-text;
    text-align: left;
  }

  &.-hto {
    border-bottom: 1px solid color('light-gray');
    text-align: center;

    @include mqAbove($min-width-tablet-small) {
      text-align: left;
    }
  }

  &--checkout-information {
    position: relative;
    padding: 12px;
    border-bottom: 1px solid color('light-gray');
  }
}

.c-line-item__divider {
  display: block;
  margin-top: 24px;
  border: {
    color: color('subtle-gray');
    width: 0 0 1px;
  }

  @include mqAbove($min-width-tablet-small) {
    display: none;
  }
}

.c-line-item__image-container,
.c-line-item__text {
  padding: 0 6px;
  text-align: center;
}

.c-line-item--checkout-information__image-container {
  width: 40%;
  max-width: 150px;
  padding: 0;
}

.c-line-item--cart__image-container {
  &:not(.-type-giftcard) {
    margin-bottom: 24px;
  }

  @include mqAbove($min-width-tablet-small) {
    float: left;
    width: 25%;
    margin-right: 48px;
    text-align: left;
  }
}

.c-line-item__image {
  max-width: 223px;

  &.c-line-item--checkout-information__image,
  &.c-line-item--customer-center__image {
    max-width: 100%;
  }
}

.c-line-item--cart__image {
  max-width: 100%;
}

.c-line-item--cart__price-quantity {
  float: right;
  margin-top: 24px;
  text-align: right;

  @include mqAbove($min-width-tablet-small) {
    margin-top: 0;
  }
}

.c-line-item__text {

  &.-text-left--tablet {
    @include mqAbove($min-width-tablet) {
      text-align: left;
      padding: 0 12px;
    }
  }

  &.c-line-item--checkout-information__text {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: left;
  }
}

.c-line-item--cart__text {
  margin-bottom: 24px;

  @include mqAbove($min-width-tablet-small) {
    float: left;
    width: 33%;
    margin-right: 96px;
    text-align: left;
  }
}

.c-line-item__item-details--gift-card {
  text-align: left;

  &:first-of-type {
    margin-top: 24px;

    @include mqAbove($min-width-tablet) {
      margin-top: 12px;
    }
  }
}
