.c-slider-fade {
  width: 100%;
  position: relative;
  height: 0; // In use, need to use padding trick based on aspect ratio.
  padding-bottom: 43.75%; // For 2880/1260

  &__slide {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in, visibility 0s 0.5s;

    &.-active {
      transition: opacity 0.5s ease-out;
      visibility: visible;
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
  }

  &__arrow-wrapper {
    position: absolute;
    top: 50%;
    width: 2%;
    cursor: pointer;
    margin-top: -1%;

    &.-left-arrow {
      left: 1%;
    }

    &.-right-arrow {
      right: 1%;
    }
  }
}
