@mixin mqAbove($width) {
  @if(strip-unit($width) == 0) {
    @content;
  }
  @else {
    @media (min-width: $width) {
      @content;
    }
  }
}

@mixin mqBelow($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin mqBetween($widthMin, $widthMax) {
  @media (min-width: $widthMin) and (max-width: $widthMax) {
    @content;
  }
}

@mixin mqNav($type) {
  $type: 'tablet' !default;
  $width: map-get($c-navigation-grid-breakpoints, $type);

  @include mqAbove($width) {
    @content;
  }
}

@mixin mqCallout($size) {
  $size: 's' !default;

  @include mqAbove(width-callout($size)) {
    @content;
  }
}

@mixin uClearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin uVerticallyCenter {
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
