@mixin uLinkNav($color: color('dark-gray')) {
  color: $color;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

@mixin uLinkNavHover($color: color('dark-gray')) {
  color: $color;
  font-weight: $font-weight-semibold;
  letter-spacing: 2.4px;
}

@mixin uLinkNavFocus {
  font-weight: $font-weight-semibold;
  letter-spacing: 2.4px;
  outline: none;
}

@mixin uLinkUnderline {
  color: color('blue');
  outline: none;
  font-weight: $font-weight-semibold;
  border-bottom: 1px solid color('blue');
  padding-bottom: 4px;
}

@mixin uLinkUnderlineHover {
  color: color('blue-highlight');
  border-bottom: 1px solid color('blue-highlight');
}
