@import 'src/css/mixins';

.c-footer-navigation {
  padding-top: 24px;

  @include mqNav('desktop') {
    padding-top: 0;
  }

  &__item {
    margin-bottom: 24px;
    display: inline-block;
    width: 50%;

    &:nth-child(odd) {
      padding-right: 12px;
    }

    &:nth-child(even) {
      padding-left: 12px;
    }

    @include mqNav('desktop') {
      width: auto;
      margin: 0;

      &,
      &:nth-child(odd),
      &:nth-child(even) {
        padding: 18px 24px 18px 0;
      }
    }
  }
}
