@import 'src/css/mixins';

.c-leith-clark-frame-link {
  &:hover {
    cursor:url(https://i.warbycdn.com/v/c/assets/leith-clark/image/flower-small/0/865943ba4c.png), auto;
  }
}

.c-leith-clark-label-right {
  @include mqAbove($grid-breakpoint-tablet) {
    padding-right: 0;
  }
  @include mqAbove($grid-breakpoint-desktop) {
    padding-right: 60px;
  }
}


.u-fs28--1200 {
  @include mqAbove($grid-breakpoint-desktop-large) {
    font-size: 28px;
  }
}

.u-lh28 {
  line-height: 28px;
}

.u-lh50--900 {
  @include mqAbove($grid-breakpoint-desktop) {
    line-height: 50px;
  }
}

.u-leith-clark-flower {
  width: 50px;
  transform: translateY(-50%);
}

.u-bg-leith-clark {
  background-color: #EFEBF2;
}

.u-type-leith-clark {
  color: #73528F;
  font-weight: 300;
  font-family: "didoni-urw";

}

html[class*="wf-didoni"] .u-type-leith-clark {
    visibility: visible;
}
