@import 'src/css/mixins';

@include mqAbove($grid-breakpoint-tablet) {
  .c-fall-2017 {
    .c-collection-utility-slider__slides {
      width: auto !important;
      transform: none !important;
    }

    .c-collection-utility-slider__slider-nav,
    .c-collection-utility-slider__slider-arrows {
      display: none;
    }

    .c-collection-utility-slider__slides {
      align-items: center;
    }
  }

  .c-fall-2017__slider.-invert {
    .c-collection-utility-slider__slides {
      flex-direction: row-reverse;
    }
  }
}

.c-fall-2017__video {
  height: auto !important;
}

.c-fall-2017__dot {
  width: 11px;
  height: 11px;
  display: inline-block;
  margin: 0 4.5px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;

  &.-active {
    background-color: #d8d8d8;
  }
}

.c-fall-2017__video-1 {
  position: absolute;
  top: 67%;
  width: 11.35%;
  left: 11.7%;
  overflow: hidden;
  height: 33.1%;
}

.c-fall-2017__video-2 {
  position: absolute;
  top: 0;
  width: 10.54%;
  right: 0;
}
