@import 'src/css/mixins';

.c-collection-core-frames-grid {

  // the widths and breakpoints for this component are consistent with past core collections for now
  // these may change to match the WP grid going forward

  position: relative;
  max-width: 1976px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
  text-align: center;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    min-width: 784px;
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    min-width: 1044px;
    margin-top: 50px;
  }

  @include mqAbove($c-frames-grid-breakpoint-3) {
    min-width: 1236px;
  }

  @include mqAbove($c-frames-grid-breakpoint-4) {
    min-width: 1488px;
  }

  &__fade-wrapper {
    transition: opacity 0.5s, transform 0.5s;

    &.-not-yet-faded-in {
      opacity: 0;
      transform: translateY(10%);
    }

    &.-faded-in {
      opacity: 1;
      transform: none;
    }
  }

  // &.-hidden {
  //   opacity: 0;
  //   padding-top: 12px;
  // }

  &__container {
    margin: 0 10px;
  }

}
