.c-credit-card-icon {
  width: 36px;
  margin-right: 6px;
  vertical-align: middle;

  &.-in-button {
    float: left;
    position: relative;
    top: -2px;
    width: 48px;
    margin-right: 12px;
  }
}
