@import 'src/css/mixins';

.c-collection-core-hto-callout {
  width: 98.5%;
  margin: 0 auto 30px;
  position: relative;
  overflow: hidden;

  border-top: 1px solid color('light-gray');

  &__picture-wrapper {
    width: 100%;
  }

  &__copy-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__arrow {
    fill: color('blue');
    margin: 4px 0 0 5px;
  }

}
