.c-formgroup--promo {

  &__toggle {
    transition: 0.15s;

    &:focus {
      outline: none;
      border-bottom: 1px solid;
    }
  }

  .-transition-promo-code {
    &-enter,
    &-appear {
      transition: 0.2s ease-in-out;
      max-height: 0;
      opacity: 0;

      &-active {
        max-height: 66px;
        opacity: 1;
      }
    }

    &-leave {
      transition: 0.2s ease-in-out;
      max-height: 66px;
      opacity: 1;

      &-active {
        max-height: 0;
        opacity: 0;
      }
    }
  }
}
