@import 'src/css/mixins';

// Experiments
@import './filters__sticky';
@import './filters__inline';

.c-gallery-filters {
  max-height: 221px;
  margin: 0 auto;
  transition: opacity 0.25s 0.25s, max-height 0.33s ease-in-out;

  &.-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-fixed-header;
  }

  @include mqBelow($c-frames-grid-breakpoint-1 - 1) {
    &.-expanded {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: none;
      background-color: color('white');
      z-index: $z-index-takeover;
      transition: none;
    }
  }
}

.c-gallery-filters__container {
  position: relative;
  text-align: center;
  height: 100%;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    height: auto;
    border-bottom: 1px solid color('subtle-gray');
  }
}

.c-gallery-filters__container-filters {
  padding: 20px 0 10px;
  background-color: color('white');

  &.-expanded {
    height: 100%;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    height: auto;

    &.-expanded {
      height: auto;
    }
  }
}

.c-gallery-filters__filter-bar {
  padding: 6px;
  margin: 0 10px 10px;
  background-color: color('light-gray-alt-2');

  @include mqAbove($c-gallery-filters-breakpoint-1) {
    width: calc(100% - 24px);
    margin: 0 auto 10px;
    padding: 10px 4px;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    width: auto;
    padding: 8px 4px;
  }
}

.c-gallery-filters__filter-header {
  @include fontStyle(12, 12, -5);
  display: table-cell;
  padding: 3px 10px;
  border-right: 1px solid color('light-gray');
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  transition: color 0.1s;
  color: color('light-gray-alt-1');

  .react-mounted & {
    color: color('dark-gray');
    cursor: pointer;
  }

  &.-active {
    font-weight: $font-weight-semibold;
  }

  &.-inactive {
    color: color('dark-gray-alt-2');
  }

  &:hover {
    font-weight: $font-weight-semibold;
  }

  &:last-child {
    border-right: 0;
  }

  &::after {
    display: block;
    content: attr(data-name);
    font-weight: $font-weight-semibold;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
  }

  @include mqBelow($c-gallery-filters-breakpoint-1 - 1) {
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid color('light-gray');
    padding: 8px 2px 10px;

    &:nth-of-type(2n) {
      border-right: 0;
    }

    &:nth-of-type(n+3) {
      border-bottom: 0;
      padding: 12px 2px 6px;
    }
  }

  @include mqAbove($c-gallery-filters-breakpoint-2) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.c-gallery-filters__filter-groups {
  height: calc(100% - 144px);
  overflow-y: scroll;

  &.-hidden {
    padding: 0;
    height: 0;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    transition: padding 0.3s ease-in-out;
    overflow: hidden;
    height: 0;
    padding-bottom: 148px;
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    padding-bottom: 112px;
  }
}

.c-gallery-filters__filter-groups-container {
  position: relative;
  padding: 8px 18px 0;
  max-width: 300px;
  text-align: left;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    padding: 36px 0;
    max-width: none;
    text-align: center;
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    padding: 24px 0;
  }
}

.c-gallery-filters__filter-group-container {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 72px;
  transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;

  &.-active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s 0.2s ease-in-out;
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    height: 64px;
  }
}

.c-gallery-filters__filter-group {
  display: inline-flex;

  &.-one-row {
    flex-direction: column;
    padding-top: 24px;
  }

  &.-two-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    height: 100%;
    align-content: center;
    margin-right: -36px;

    &.-one-row {
      flex-direction: row;
      align-items: center;
      padding: 0;
    }

    &.-two-row {
      flex-direction: column;
      margin-right: -24px;
    }
  }

  @include mqAbove($c-gallery-filters-breakpoint-3) {
    &.-two-row {
      margin-right: -36px;
    }
  }
}

.c-gallery-filters__buttons-bar {
  margin-bottom: 10px;
}

.c-gallery-filters__container-left {
  display: inline-block;
  margin: 6px 20px 20px;

  &.-hidden-mobile {
    display: none;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    position: absolute;
    top: 18px;
    left: 18px;
    margin: 0;

    &.-hidden-mobile {
      display: inline-block;
    }
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    top: 28px;
  }
}

.c-gallery-filters__container-right {
  display: none;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 18px;
    color: color('dark-gray-alt-2');
  }
}

.c-gallery-filters__container-active-filters {
  @include fontStyle(12, 12, 0);
  margin: 0 12px;
  padding: 0 6px 6px;
  border-radius: 2px;
  background-color: color('white-90p');
  color: color('dark-gray-alt-2');

  @include mqAbove($c-frames-grid-breakpoint-1) {
    margin: -7px 12px 12px;
  }
}

.c-gallery-filters__reset-link {
  font-weight: $font-weight-semibold;
  margin-top: 12px;
  display: block;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    margin-left: 12px;
    display: inline;
  }
}

.c-gallery-filters__hto-checkbox {
  text-align: left;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    max-width: 150px;
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    max-width: none;
  }
}

.c-gallery-filters__modal {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s, max-height 0.3s;

  &.-expanded {
    visibility: visible;
    opacity: 1;
    padding-top: 32px;
    transition: opacity 0.3s ease-in-out;
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    display: none;
    transition: none;

    &.-expanded {
      display: none;
      transition: none;
    }
  }
}

.c-gallery-filters__modal-header {
  @include typeSectionHeadline();
  @include familySerif();
  font-weight: $font-weight-normal;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 14px;
  left: 18px;
}

.c-gallery-filters__modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  padding: 10px;
  cursor: pointer;
}

.c-gallery-filters__icon-x {
  width: 12px;
}

.c-gallery-filters__modal-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: color('light-gray-alt-2');
  border-top: 1px solid color('subtle-gray');
  box-shadow: inset 0 0 0 1px color('white');
  text-align: right;
}

.c-gallery-filters__cta {
  padding: 12px 18px;
  margin: 12px 18px;
  font-weight: $font-weight-normal;
}

.c-gallery-filters__clear-filters {
  display: inline-block;
  margin: 24px 6px 0 0;
  text-decoration: underline;
  cursor: pointer;

  &.-disabled {
    color: color('light-gray');
    cursor: default;
  }
}

.c-gallery-filters__button {
  height: auto;
  width: 136px;
  min-width: 0;
  padding: 8px;
  margin: -9px 6px 0;
  border-color: color('light-gray');
  font-size: 14px;

  &:active {
    background: none;
  }

  &:focus::after {
    border: none;
  }

  &--search {
    &.-hidden-mobile {
      display: none;

      @include mqAbove($c-frames-grid-breakpoint-1) {
        display: inline-block;
      }
    }
  }

  @include mqAbove($c-frames-grid-breakpoint-1) {
    width: auto;
    border: 0;
    font-size: 16px;
  }
}

.c-gallery-filters__search-icon {
  margin: 1px 6px 0 0;

  @include mqAbove($c-frames-grid-breakpoint-1) {
    margin: 2px 8px 0 0;
  }
}

.c-gallery-filters__filter-icon {
  margin: 2px 6px 0 0;
}

@include mqAbove($c-frames-grid-breakpoint-1) {
  .c-gallery-filters__filter-group-label {
    position: absolute;
    margin: 0;
    top: 0;
  }
}
