@import 'src/css/mixins';

@keyframes slide-in-sticky {
  from { transform: translate3d(0, -110%, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@mixin filter-sticky {
  position: fixed;
  border-bottom: 1px color('subtle-gray') solid;
  width: 100%;
  z-index: $z-index-fixed-header;
  background: color('white');
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  animation: {
    name: slide-in-sticky;
    duration: 0.5s;
    timing-function: ease-out;
  }
}

.c-gallery-filters.c-gallery-filters--sticky {


  @include mqAbove($c-frames-grid-breakpoint-1) {

    .c-gallery-filters__filter-groups {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: color('white');
      border-bottom: 1px solid color('subtle-gray');
    }

    .c-gallery-filters__container-active-filters {
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 14px;
      transition: transform $transition-duration-default ease-in-out;

      &.-expanded {
        transform: translateY(143px);
      }
    }

    .c-gallery-filters__filter-groups-container {
      padding: 10px 0;
    }
  }

  @include mqAbove($c-frames-grid-breakpoint-2) {
    .c-gallery-filters__container-active-filters.-expanded {
      transform: translateY(113px);
    }
  }

  .c-gallery-filters__container {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
    border: 0;

    &:not(.-expanded).-enabled {
      @include filter-sticky;
    }

    @include mqAbove($c-frames-grid-breakpoint-1) {
      &.-enabled {
        @include filter-sticky;
      }
    }
  }

  .c-gallery-filters__dummy:not(.-enabled) {
    position: absolute;
  }

  .c-gallery-filters__container,
  .c-gallery-filters__dummy {
    &:not(.-expanded) {
      height: 119px;

      &.-inline {
        height: 68px;
      }
    }

    @include mqAbove($c-frames-grid-breakpoint-1) {
      transition: height $transition-duration-default ease-in-out;

      &,
      &:not(.-expanded) {
        &,
        &.-inline {
          height: 76px;
        }
      }

      &.-show-reset:not(.-expanded) {
        &,
        &.-inline {
          height: 96px;
        }
      }
    }
  }

  ~ .c-frame-gallery__content {
    @include mqAbove($c-frames-grid-breakpoint-1) {
      transition: {
        property: transform, margin;
        duration:  $transition-duration-default, $transition-duration-default;
        timing-function: ease-in-out;
      }
    }
  }

  &.-expanded ~ .c-frame-gallery__content {

    @include mqAbove($c-frames-grid-breakpoint-1) {
      transform: translateY(148px);
      margin-bottom: 148px;
    }

    @include mqAbove($c-frames-grid-breakpoint-2) {
      transform: translateY(112px);
      margin-bottom: 112px;
    }
  }
}
