@import 'src/css/mixins';

@include mqBelow($c-frames-grid-breakpoint-1 - 1) {
  .c-gallery-filters.c-gallery-filters--inline {

    .c-gallery-filters__container:not(.-expanded) {
      height: 69px;
    }

    .c-gallery-filters__buttons-bar {
      margin: 0;
      position: absolute;
      top: 25px;
      right: 0;
    }

    .c-gallery-filters__filter-count {
      background: color('blue');
      width: 17px;
      height: 17px;
      display: inline-block;
      border-radius: 50%;
      color: color('white');
      font-size: 11px;
      line-height: 17px;
      font-weight: 600;
      vertical-align: middle;
      position: absolute;
      top: 4px;
      right: -6px;
    }

    .c-gallery-filters__modal.-expanded ~ .c-gallery-filters__buttons-bar {
      display: none;
    }

    .c-gallery-filters__container-left {
      margin: 0;
      position: absolute;
      transform: translateY(-50%);
      max-width: 56%;
      top: 50%;
      left: 18px;
      font-size: 14px;
      font-weight: 600;
    }

    .c-gallery-filters__button {
      border: 0;
      width: auto;
      font-weight: 600;
      margin-left: 0;
      margin-right: 0;
      position: relative;
    }

    .c-gallery-filters__button--filter {
      margin-right: 16px;
    }

    .c-gallery-filters__search-frames-text {
      display: none;
    }

  }
}
