.c-appointment-notice {
  &__heading {
    letter-spacing: 1.5px;
    margin-bottom: 12px;
  }

  &__body__p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__close-icon {
    width: 14px;
  }
}
