@import 'src/css/mixins';

.c-callout-fullscreen {

  &__image-container {
    height: 100vh;
    max-height: 768px;

    &.-banner {
      height: calc(100vh - 84px);
    }

    @include mqAbove($grid-breakpoint-tablet) {
      max-height: 1056px; // 1080px - 24px of margin
    }
  }

  &__image {
    &.-banner {
      top: -42px;
    }
  }
}
