@import 'src/css/mixins';

.c-customer-center-order-index {
  max-width: $min-width-desktop;
  margin: 0 auto;
}

.c-customer-center-order-index__header {
  text-align: center;
  margin: 70px auto;
}

.c-customer-center-order-index__cta {
  color: color('yellow');
  margin: 20px 0;
  text-align: center;
  vertical-align: middle;
}

.c-customer-center-order-index__issues {
  max-width: 100%;
  margin: 40px 0;
}

.c-customer-center-order-index__dotted {
  border-top: 2px dotted color('light-gray');
  border-bottom: none;
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
}

.c-customer-center-order-index__columns {
  margin: 0;
  min-width: 150px;
  padding: 0;

  @include mqAbove($min-width-tablet) {
    margin-left: 12px;
  }
}

.c-customer-center-order-index__column-content {
  text-align: left;
  vertical-align: middle;
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0px;
  }

  @include mqAbove($min-width-tablet) {
    margin: 0;
  }
}

.c-customer-center-order-index__order-status {
  vertical-align: middle;

  &.-notice {
    color: color('yellow');
  }
}

.c-customer-center-order-index__orders {
  margin: none;
  margin-bottom: 70px;
}

.c-customer-center-order-index__alert {
  margin-right: 5px;
}

.c-customer-center-order-show {
  color: color('dark-gray');
  max-width: $min-width-desktop;
  margin: 0 auto;
}

.c-customer-center-order-show__dotted,
.c-customer-center-order-issue__dotted,
.c-customer-center-order-add-rx__dotted {
  border-top: 2px dotted color('light-gray');
  border-bottom: none;
  background-color: transparent;
  margin: 47px auto 62px;
  width: 100%;
}

.c-customer-center-order-show__cta,
.c-customer-center-order-issue__cta {
  text-align: center;
}

.c-customer-center-order-show__order-details {
  margin: 0 auto;
  text-align: center;
}

.c-customer-center-order-show__order-date,
.c-customer-center-order-show__order-num {
  text-align: center;
}

.c-customer-center-order-show__product-images {
  margin-bottom: 24px;
}

.c-customer-center-order-show__returns {
  margin-bottom: 70px;
}

.c-customer-center-order-show__shipping {
}

.c-customer-center-order-show__status-icon,
.c-customer-center-order-issue__alert-icon {
  width: 72px;
  margin-bottom: 7px;
  @include mqAbove($min-width-tablet) {
    width: 140px;
  }
}

.c-customer-center-order-show__arrow-icon {
  width: 33px;
  @include mqAbove($min-width-tablet) {
    width: 60px;
  }
}

.c-customer-center-order-issue__status-button {
  @include buttonSmall;
  height: 36px;
  min-width: 135px;
  padding: 0 20px;
  width: auto;
}

.c-customer-center-order-issue__link {
  &:hover {
    border-bottom-color: color('blue-shadow');
  }
}

.c-customer-center-order-issue__desktop-eye-exam-link {
  bottom: 22px;
  @include mqAbove(946px) {
    right: -2%;
    bottom: 10px;
  }

  @include mqAbove(960px) {
    right: -7%;
  }

  @include mqAbove($grid-breakpoint-desktop-large) {
    right: 0;
  }

}

.c-customer-center-order-issue__help-icons {
  display: block;
  margin: 0 auto;
  padding-left: 32px;
  text-align: center;
}

.c-customer-center-order-add-rx {

  &__cancel {
    display: inline-block;
    margin-top: 22px;
  }

  &__content {
    margin: 0 auto;
    max-width: 280px;

    @include mqAbove($grid-breakpoint-tablet) {
      max-width: 480px;
    }
  }

  &__icon-x {
    width: 15px;
  }

  &__header {
    margin-top: 20px;
  }

  &__message {
    margin: 10px 0 24px;
  }

  &__placeholder {
    width: 280px;
    height: 280px;

    @include mqAbove($grid-breakpoint-tablet) {
      width: 480px;
      height: 480px;
    }
  }

  &__submit,
  &__revise {
    @include buttonSmall;
    height: 36px;
    padding: 0 20px;
    min-width: 135px;
    max-width: 80%;
    border: solid 1px color('blue');

    &:hover {
      border: solid 1px color('blue-highlight');
    }
  }

  &__submit {
    margin: -25px auto 10px;
  }

  &__takeover-header {
    height: 60px;
  }

  &__takeover-close {
    margin-top: 12px;
    width: 36px;
    height: 36px;
    padding: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
