@import 'src/css/mixins';

.c-amex {
  padding: 0;
  background: none;

  @include mqAbove($min-width-tablet) {
    position: relative;
    top: 1px;
  }
}

.c-amex__button-wrapper {
  line-height: 0;
}
