.c-promo-block-image-text-cta {
  &__body__a {
    border-bottom: 1px solid color('blue');

    @include mqAbove($grid-breakpoint-desktop) {
      border-bottom: none;

      &:hover {
        border-bottom: 1px solid color('blue');
      }
    }
  }

  &__cta {
    min-width: 220px;

    @include mqAbove($grid-breakpoint-desktop) {
      min-width: 187px;
    }
  }
}
