@import 'src/css/mixins';

.c-navigation {
  left: -100%;
  transform: translate(0);
  transition: {
    delay: 0s, $transition-duration-default;
    duration: $transition-duration-default, 0s;
    property: transform, visibility;
    timing-function: $transition-timing-function-default;
  }
  visibility: hidden;
  z-index: $z-index-navigation__primary;

  &:focus {
    outline: none;
  }

  @include mqAbove($grid-breakpoint-desktop) {
    background-color: transparent;
    bottom: auto;
    display: inline-block;
    height: auto;
    left: auto;
    padding-top: 0;
    position: static;
    transform: none;
    transition: transform 0s;
    visibility: visible;
    width: auto;
  }

  &__close {
    position: fixed;
    cursor: pointer;
    opacity: 0;
    right: 9999px;

    @include mqAbove($grid-breakpoint-desktop) {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__item {
    @include mqAbove($grid-breakpoint-desktop) {
      position: static;
      font-weight: $font-weight-normal;
      display: inline-block;
    }
  }

  &__logo {
    padding: 18px 0 16px;
    margin: 0 auto;
    max-height: $navigation-tablet-height;
    width: 150px;

    &:focus {
      outline: none;
    }
  }

  &:target,
  &.-visible {
    overflow: scroll;
    transform: translate(100%);
    transition: {
      delay: 0.025s, 0s;
      duration: $transition-duration-default, 0s;
      property: transform, visibility;
      timing-function: $transition-timing-function-default;
    }
    visibility: visible;

    @include mqAbove($grid-breakpoint-desktop) {
      overflow: auto;
      transform: none;
      transition: none;
    }

    .c-navigation__close {
      opacity: 1;
      right: 18px;
      top: 18px;
      z-index: $z-index-navigation__close;
      transition: {
        property: opacity;
        duration: $transition-duration-default;
        timing-function: $transition-timing-function-default;
        delay: $transition-duration-default;
      }
    }
  }
}
